openapi: 3.2.0
info:
  title: Blue API reference Billing API
  description: Alphaus provides an API for interacting with its services.
  version: v1
servers:
- url: https://api.alphaus.cloud/m/blue
tags:
- name: Billing
  description: '(BETA) Billing API. Base URL: https://api.alphaus.cloud/m/blue/billing'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/billing/
paths:
  /billing/v1/reseller/announcements/{announcementId}:
    get:
      summary: Gets the announcement list
      operationId: Billing_GetAnnouncements
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Announcement'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Announcement
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: announcementId
        description: Optional. Set empty to return all
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/accessgroups:
    get:
      summary: Lists access group. Only available in Ripple
      operationId: Billing_ListAccessGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/apiRippleAccessGroup'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of apiRippleAccessGroup
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Registers the access group. Only available in Ripple
      operationId: Billing_CreateAccessGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiRippleAccessGroup'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAccessGroupRequest'
        description: Request message for the CreateAccessGroup rpc.
        required: true
  /v1/accessgroups/{accessGroupId}:
    get:
      summary: 'WORK-IN-PROGRESS: Gets an access group'
      operationId: Billing_GetAccessGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccessGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: accessGroupId
        in: path
        required: true
        schema:
          type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
  /v1/accessgroups/{id}:
    delete:
      summary: Deletes the access group. Only available in Ripple
      operationId: Billing_DeleteAccessGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. access group id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: Updates the access group. Only available in Ripple
      operationId: Billing_UpdateAccessGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiRippleAccessGroup'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. access group id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateAccessGroupBody'
        required: true
  /v1/adjustmentconfig/{vendor}:
    get:
      summary: Gets adjustment config
      operationId: Billing_GetAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      - name: includeSPPDiscount
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Billing
    delete:
      summary: Deletes adjustment config
      operationId: Billing_DeleteAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Creates adjustment config
      description: '[ERRORS]

        - InvalidArgument:

        - the AdjustmentConfig is already exists.

        - NotFound:

        - the AdjustmentConfig is not found.'
      operationId: Billing_CreateAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCreateAdjustmentConfigBody'
        required: true
    put:
      summary: Updates adjustment config
      operationId: Billing_UpdateAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateAdjustmentConfigBody'
        required: true
  /v1/aws/dailyrunhistory:read:
    post:
      summary: Reads the daily calculation history of all accounts in your billing groups.
      operationId: Billing_ListAwsDailyRunHistory
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AwsDailyRunHistory'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AwsDailyRunHistory
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListAwsDailyRunHistoryRequest'
        description: Request message for the Billing.ListAwsCalculationHistory rpc.
        required: true
  /v1/billinggroup/account:
    post:
      summary: Add a vendor account to a billing group
      operationId: Billing_AddAccountToBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddAccountToBillingGroupRequest'
        required: true
  /v1/billinggroup/customfield:
    post:
      summary: Add a custom field into a billing group
      operationId: Billing_AddBillingGroupCustomField
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddBillingGroupCustomFieldRequest'
        required: true
  /v1/billinggroup/customfield/{groupId}/{customFieldId}:
    delete:
      summary: Remove a custom field from a billing group
      operationId: Billing_DeleteBillingGroupCustomField
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: Required. Billing group internal Id
        in: path
        required: true
        schema:
          type: string
      - name: customFieldId
        description: Required. The id of customfield from get customfield
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroup/customfield:read:
    post:
      summary: Show all the billing groups custom fields
      operationId: Billing_ListBillingGroupCustomField
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListBillingGroupCustomFieldResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListBillingGroupCustomFieldResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListBillingGroupCustomFieldRequest'
        required: true
  /v1/billinggroup/reseller/announcements/{groupId}:
    get:
      summary: Gets the announcement list for billing group
      operationId: Billing_GetBillingGroupAnnouncements
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetBillingGroupAnnouncementsResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetBillingGroupAnnouncementsResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: Optional. Set empty to return all
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroup/tags:
    post:
      summary: Add Tags to the billing group
      operationId: Billing_AddTagsToBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddTagsToBillingGroupRequest'
        required: true
  /v1/billinggroup/{id}:
    delete:
      summary: Delete a billing group
      operationId: Billing_DeleteBillinGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroup/{id}/{vendor}/supportplan:
    get:
      summary: 'WORK-IN-PROGRESS: Gets the account support plan in billing group.'
      operationId: Billing_GetBillingGroupAccountSupportPlan
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBillingGroupAccountSupportPlanResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal id.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. At the moment, `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: 'WORK-IN-PROGRESS: Updates the account support plan in billing group.'
      operationId: Billing_UpdateBillingGroupAccountSupportPlan
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal id.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. At the moment, `aws` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupAccountSupportPlanBody'
        required: true
  /v1/billinggroup/{id}/{vendor}/untaggedgroups:
    post:
      summary: Sets non-tag group settings for a billing group
      operationId: Billing_UpdateNonTagGroupToBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group's internal id
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. The vendor (aws, azure, etc)
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateNonTagGroupToBillingGroupBody'
        required: true
  /v1/billinggroup/{id}:additionalCharges:
    put:
      summary: 'WORK-IN-PROGRESS: Update additonal charges for a billing group'
      operationId: Billing_UpdateBillingGroupAdditionalCharges
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupAdditionalChargesBody'
        required: true
  /v1/billinggroup/{id}:basicInfo:
    put:
      summary: Update billing group basic information
      operationId: Billing_UpdateBillingGroupBasicInformation
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupBasicInformationBody'
        required: true
  /v1/billinggroup/{id}:customFields:
    put:
      summary: 'WORK-IN-PROGRESS: Update billing group custom fields information'
      operationId: Billing_UpdateBillingGroupCustomFields
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupCustomFieldsBody'
        required: true
  /v1/billinggroup/{id}:freeFormat:
    put:
      summary: 'WORK-IN-PROGRESS: Update billing group custom fields information'
      operationId: Billing_UpdateBillingGroupFreeFormat
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupFreeFormatBody'
        required: true
  /v1/billinggroup/{id}:invoiceSettings:
    put:
      summary: 'WORK-IN-PROGRESS: Update invoice settings for a billing group'
      operationId: Billing_UpdateBillingGroupInvoiceSettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupInvoiceSettingsBody'
        required: true
  /v1/billinggroup/{id}:resellerCharges:
    put:
      summary: 'WORK-IN-PROGRESS: Update reseller charges for a billing group'
      operationId: Billing_UpdateBillingGroupResellerCharges
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupResellerChargesBody'
        required: true
  /v1/billinggroup/{id}:resources:
    put:
      summary: 'WORK-IN-PROGRESS: Update linked resources for a billing group'
      operationId: Billing_UpdateBillingGroupLinkedResources
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupLinkedResourcesBody'
        required: true
  /v1/billinggroups:
    get:
      summary: Lists all billing groups (streamed)
      operationId: Billing_ListBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/billingV1BillingGroup'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of billingV1BillingGroup
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      - name: vendors
        description: 'Optional. Filter vendor accounts included in BillingGroup. Format: vendors=vendor1,vendor2,vendor3.

          For example, When Aws and Gcp to be filtered vendors=aws,gcp

          If you want to get all vendors, not set parameter.'
        in: query
        required: false
        schema:
          type: string
      - name: calcType
        description: 'Optional. Filter by calcType. Format: calType=account

          Valid values: account, tag'
        in: query
        required: false
        schema:
          type: string
      - name: displayCost
        description: 'Optional. Filter by displayCost. Format: displayCost=unblended_cost

          valid values: unblended_cost, true_unblended_cost'
        in: query
        required: false
        schema:
          type: string
      - name: bgType
        description: 'Optional. For aws only, filter will be ignored for other vendors.

          Valid values: default, imported'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Registers a billing group
      operationId: Billing_CreateBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingV1BillingGroup'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateBillingGroupRequest'
        description: Request message for the Billing.CreateBillingGroup rpc.
        required: true
  /v1/billinggroups/billingconductor/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Gets all Billing Groups in AWS Billing Conductor(ABC) for…'
      operationId: Billing_ListAbcBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AbcBillingGroup'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AbcBillingGroup
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Payer Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroups/billingconductor/{payerId}/accounts:
    get:
      summary: 'WORK-IN-PROGRESS: Gets all accounts associated to AWS Billing Conductor(ABC)…'
      operationId: Billing_ListAbcBillingGroupAccounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AbcAccount'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AbcAccount
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: payerId
        description: Required. Payer Id.
        in: path
        required: true
        schema:
          type: string
      - name: billingGroupArn
        description: Required. BillingGroup Id.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroups/children:
    post:
      summary: Creates a child billing group under a parent billing group
      operationId: Billing_CreateChildBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateChildBillingGroupRequest'
        required: true
  /v1/billinggroups/children/{internalId}:
    get:
      summary: Gets child billing group info
      operationId: Billing_GetChildBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    delete:
      summary: Deletes all child billing group info
      operationId: Billing_DeleteChildBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child billing group's internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: Updates child billing group's basic info
      operationId: Billing_UpdateChildBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateChildBillingGroupBody'
        required: true
  /v1/billinggroups/children/{internalId}/invoiceSettings:
    put:
      summary: Updates child billing group's invoice settings
      operationId: Billing_UpdateChildBillingGroupInvoiceSettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateChildBillingGroupInvoiceSettingsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateChildBillingGroupInvoiceSettingsBody'
        required: true
  /v1/billinggroups/children/{internalId}/serviceDiscounts:
    get:
      summary: Returns the service discount associated with the billing group id
      operationId: Billing_GetChildBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetChildBillingGroupInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child Billing Group Internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Sets the child billing group invoice service discounts. Only available in Ripple
      operationId: Billing_SetChildBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id of the child billing group.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetChildBillingGroupInvoiceServiceDiscountsBody'
        required: true
  /v1/billinggroups/children/{internalId}/serviceDiscounts/accounts:read:
    get:
      summary: Returns the account's service discounts associated with the child billing group…
      operationId: Billing_ReadChildBillingGroupAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AccountInvoiceServiceDiscounts'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AccountInvoiceServiceDiscounts
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child Billing Group Internal Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}/serviceDiscounts/accounts:set:
    post:
      summary: Sets the child billing group's account invoice service discounts.
      operationId: Billing_SetChildBillingGroupAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: internalId
        description: Required. child billing group's internal Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetChildBillingGroupAccountInvoiceServiceDiscountsBody'
        required: true
  /v1/billinggroups/children:read:
    post:
      summary: Lists child billing groups under a specific filter
      operationId: Billing_ReadChildBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ChildBillingGroup'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ChildBillingGroup
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReadChildBillingGroupsRequest'
        required: true
  /v1/billinggroups/exclude-service-settings:
    get:
      summary: List Exclude Service Entries
      operationId: Billing_ListExcludeServices
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListExcludeServicesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: mspId
        description: MSP (Managed Service Provider) ID. Partition key for the exclude service entries.
        in: query
        required: false
        schema:
          type: string
      - name: vendor
        description: Cloud vendor (e.g., "aws", "gcp"). If empty, returns all vendors for the MSP.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    delete:
      summary: Delete Exclude Service Entry
      operationId: Billing_DeleteExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: mspId
        description: MSP (Managed Service Provider) ID. Partition key for the exclude service entry.
        in: query
        required: false
        schema:
          type: string
      - name: vendor
        description: Cloud vendor (e.g., "aws", "gcp").
        in: query
        required: false
        schema:
          type: string
      - name: payerId
        description: Payer/account ID to delete. Use "all" or "*" to apply to all accounts.
        in: query
        required: false
        schema:
          type: string
      - name: service
        description: Cloud service name (e.g., "EC2", "BigQuery").
        in: query
        required: false
        schema:
          type: string
      - name: product
        description: Product or SKU code (used for GCP or detailed exclusions).
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Create Exclude Service Entry
      operationId: Billing_CreateExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateExcludeServiceEntryRequest'
        required: true
    put:
      summary: Update Exclude Service Entry
      operationId: Billing_UpdateExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateExcludeServiceEntryRequest'
        required: true
  /v1/billinggroups/merged:
    post:
      summary: Registers a billing group with Merged Endpoints.
      operationId: Billing_CreateBillingGroupMerged
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billingV1BillingGroup'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateBillingGroupMergedRequest'
        description: Request message for the CreateBillingGroupMerged rpc.
        required: true
  /v1/billinggroups/{billingInternalId}:
    get:
      summary: Gets a billing group
      operationId: Billing_GetBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBillingGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: billingInternalId
        in: path
        required: true
        schema:
          type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
  /v1/billinggroups/{id}/invoicelayoutconfig:
    get:
      summary: WORK-IN-PROGRESS.
      operationId: Billing_GetBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBillingGroupInvoiceLayoutConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    delete:
      summary: WORK-IN-PROGRESS. Unsets the billing group invoice layout config
      operationId: Billing_DeleteBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: WORK-IN-PROGRESS. Sets the billing group invoice layout configs
      operationId: Billing_SetBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetBillingGroupInvoiceLayoutConfigBody'
        required: true
  /v1/billinggroups/{id}/invoicetemplate:
    post:
      summary: Creates/Updates a billing group's invoice template. Only available in Ripple
      operationId: Billing_UpdateBillingGroupInvoiceTemplate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal ID
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateBillingGroupInvoiceTemplateBody'
        required: true
  /v1/billinggroups:bulkCreate:
    post:
      summary: Create billing group in bulk from CSV file.
      operationId: Billing_BulkCreateBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protosOperation'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BulkCreateBillingGroupRequest'
        required: true
  /v1/billinggroups:bulkLinkAccount:
    post:
      summary: Link accounts to a billing group in bulk from a CSV file.
      operationId: Billing_BulkLinkAccount
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protosOperation'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BulkLinkAccountRequest'
        required: true
  /v1/billinggroups:bulkTag:
    post:
      summary: Bulk-tag multiple billing groups from a CSV file.
      operationId: Billing_BulkTagBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protosOperation'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BulkTagBillingGroupRequest'
        description: Request for BulkTagBillingGroup.
        required: true
  /v1/billinggroups:paginated:
    get:
      summary: Lists all billing groups with pagination support
      operationId: Billing_ListBillingGroupsPaginated
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListBillingGroupsPaginatedResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      - name: vendors
        description: 'Optional. Filter vendor accounts included in BillingGroup. Format: vendors=vendor1,vendor2,vendor3.

          For example, When Aws and Gcp to be filtered vendors=aws,gcp

          If you want to get all vendors, not set parameter.'
        in: query
        required: false
        schema:
          type: string
      - name: calcType
        description: 'Optional. Filter by calcType. Format: calType=account

          Valid values: account, tag'
        in: query
        required: false
        schema:
          type: string
      - name: displayCost
        description: 'Optional. Filter by displayCost. Format: displayCost=unblended_cost

          valid values: unblended_cost, true_unblended_cost'
        in: query
        required: false
        schema:
          type: string
      - name: bgType
        description: 'Optional. For aws only, filter will be ignored for other vendors.

          Valid values: default, imported'
        in: query
        required: false
        schema:
          type: string
      - name: companyName
        description: Optional. Filter by company name.
        in: query
        required: false
        schema:
          type: string
      - name: billingGroupName
        description: Optional. Filter by billing group name.
        in: query
        required: false
        schema:
          type: string
      - name: billingGroupId
        description: Optional. Filter by billing group id.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: Optional. Page size for pagination. Default is 50, maximum is 1000.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageNumber
        description: Optional. Page number for pagination. Starts from 1. Default is 1.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Billing
  /v1/credits:
    get:
      summary: Gets the credits
      operationId: Billing_GetCredits
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Credit'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Credit
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
  /v1/csvsettings:
    get:
      summary: Gets the csv column settings
      operationId: Billing_GetCsvSettings
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1CsvSetting'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1CsvSetting
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
  /v1/customfield:
    post:
      summary: Creates new customfield
      operationId: Billing_CreateCustomField
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CustomField'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCustomFieldRequest'
        required: true
  /v1/customfield/{id}:
    delete:
      summary: Deletes the customfield
      operationId: Billing_DeleteCustomField
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: Update the `customField` specified id, modifying its key and description
      operationId: Billing_UpdateCustomField
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CustomField'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateCustomFieldBody'
        required: true
  /v1/customfield:read:
    post:
      summary: Returns all registered customfields
      operationId: Billing_ListCustomField
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1CustomField'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1CustomField
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListCustomFieldRequest'
        required: true
  /v1/customizedbillingservices:
    post:
      summary: Creates the customized billing service. Only available in Ripple
      operationId: Billing_CreateCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCustomizedBillingServiceRequest'
        description: Request message for the Billing.CreateCustomizedBillingService rpc.
        required: true
  /v1/customizedbillingservices/billinggroup/{groupId}/{vendor}:
    get:
      summary: Gets the customized billing service in billing group. Only available in Ripple
      operationId: Billing_GetCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetCustomizedBillingServiceBillingGroupResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetCustomizedBillingServiceBillingGroupResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    delete:
      summary: Deletes the customized billing service in billing group.
      operationId: Billing_DeleteCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Sets the customized billing service in billing group. Only available in Ripple
      operationId: Billing_SetCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetCustomizedBillingServiceBillingGroupBody'
        required: true
  /v1/customizedbillingservices/{id}:
    get:
      summary: Gets the customized billing service. Only available in Ripple
      operationId: Billing_GetCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        schema:
          type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    delete:
      summary: Deletes the customized billing service. Only available in Ripple
      operationId: Billing_DeleteCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: Updates the customized billing service by updating the fields specified in the…
      operationId: Billing_UpdateCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateCustomizedBillingServiceBody'
        required: true
  /v1/customizedbillingservices:read:
    post:
      summary: Reads the customized billing service. Only available in Ripple
      operationId: Billing_ReadCustomizedBillingServices
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/rippleCustomizedBillingService'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of rippleCustomizedBillingService
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReadCustomizedBillingServicesRequest'
        description: Request message for the Billing.ReadCustomizedBillingServices rpc.
        required: true
  /v1/exchangerate/billinggroup/{month}:
    post:
      summary: Set billing group exchangerate. Only available in Ripple
      operationId: Billing_SetBillingGroupExchangeRate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetBillingGroupExchangeRateBody'
        required: true
  /v1/exchangerate/global/{vendor}/{month}:
    post:
      summary: Set global exchangerate. Only available in Ripple
      operationId: Billing_SetGlobalExchangeRate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: Required. vendor.
        in: path
        required: true
        schema:
          type: string
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetGlobalExchangeRateBody'
        required: true
  /v1/exchangerate/payer/{month}:
    post:
      summary: Set payer exchangerate. Only available in Ripple
      operationId: Billing_SetPayerExchangeRate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSetPayerExchangeRateBody'
        required: true
  /v1/exportcsv/billing-group:
    get:
      summary: Export the billing groups into csv format
      operationId: Billing_ExportBillingGroupCsv
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExportBillingGroupCsvResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: language
        description: "Usually the language of the user information is used, \nbut it may be a different language due to cahce.\nIn that case, you can use this option to change the language of CSV."
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
  /v1/exportcsv/invoice-setting:
    get:
      summary: Exports the invoice settings into csv format
      operationId: Billing_ExportInvoiceSettingCsv
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExportInvoiceSettingCsvResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: language
        description: "Usually the language of the user information is used, \nbut it may be a different language due to cahce.\nIn that case, you can use this option to change the language of CSV."
        in: query
        required: false
        schema:
          type: string
      - name: includeMiscellaneous
        description: Optional. If true, include miscellaneous items in the settings export.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Billing
  /v1/freeformat:
    post:
      summary: Creates new billing group free format item (miscellaneous)
      operationId: Billing_CreateFreeFormat
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateFreeFormatRequest'
        required: true
  /v1/freeformat/{groupId}:
    get:
      summary: Get billing group free format item (miscellaneous)
      operationId: Billing_GetFreeFormat
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetFreeFormatResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetFreeFormatResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        description: set empty to get all the freeformat of the MSP
        in: path
        required: true
        schema:
          type: string
      - name: isAssociated
        description: 'this setting is ignored if groupId is not empty

          set true to return only the free format associated to a BG'
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Billing
    delete:
      summary: Delete billing group free format item (miscellaneous)
      operationId: Billing_DeleteFreeFormat
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
  /v1/invoice/displaysettings:
    get:
      summary: 'WORK-IN-PROGRESS: Gets the invoice display settings for invoice-ui'
      operationId: Billing_GetInvoiceDisplaySettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetInvoiceDisplaySettingsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
    post:
      summary: Creates/Updates an invoice display settings. Only available in Ripple
      operationId: Billing_UpdateInvoiceDisplaySettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateInvoiceDisplaySettingsRequest'
        description: Request message for UpdateInvoiceDisplaySettings rpc.
        required: true
  /v1/invoice/exchangerate/{month}:
    put:
      summary: Update invoice exchangerate for the month
      operationId: Billing_UpdateInvoiceExchangeRate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: month
        description: 'Required. Format: yyyymm.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateInvoiceExchangeRateBody'
        required: true
  /v1/invoice/status/{date}:read:
    post:
      summary: Reads an invoice status. Only available in Ripple
      operationId: Billing_ListInvoiceStatus
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/apiInvoiceMessage'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of apiInvoiceMessage
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice status. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingListInvoiceStatusBody'
        required: true
  /v1/invoice/status/{id}:
    get:
      summary: Gets an invoice. Only available in Ripple
      operationId: Billing_GetInvoiceStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. invoice generate request id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
  /v1/invoice/template:
    get:
      summary: Lists Invoice Template. Only available in Ripple
      operationId: Billing_ListInvoiceTemplate
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListInvoiceTemplateResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListInvoiceTemplateResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
  /v1/invoice/{date}:converttopdf:
    post:
      summary: 'WORK-IN-PROGRESS: Convert invoice to pdf'
      operationId: Billing_ConvertInvoiceToPdf
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ConvertInvoiceToPdfResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Format: yyyymm.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingConvertInvoiceToPdfBody'
        required: true
  /v1/invoice/{date}:create:
    post:
      summary: Creates an invoice. Only available in Ripple
      operationId: Billing_CreateInvoice
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCreateInvoiceBody'
        required: true
  /v1/invoice/{date}:create&savesettings:
    post:
      summary: Creates an invoice and add settings. Only available in Ripple
      operationId: Billing_CreateInvoiceWithSettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Invoice month. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingCreateInvoiceWithSettingsBody'
        required: true
  /v1/invoice/{date}:export:
    post:
      summary: Exports an invoice
      operationId: Billing_ExportInvoiceFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExportInvoiceFileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingExportInvoiceFileBody'
        required: true
  /v1/invoice/{date}:preview:
    put:
      summary: Updates an invoice preview. Only available in Ripple
      operationId: Billing_UpdateInvoicePreviews
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateInvoicePreviewsBody'
        required: true
  /v1/invoice/{date}:read:
    post:
      summary: Gets an invoice
      operationId: Billing_GetInvoice
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiInvoice'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingGetInvoiceBody'
        required: true
  /v1/invoice/{date}:savesettings:
    post:
      summary: 'WORK-IN-PROGRESS: Save invoice settings for the month'
      operationId: Billing_SaveInvoiceSettings
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Invoice month. Format: `yyyymm`.'
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSaveInvoiceSettingsBody'
        required: true
  /v1/invoice:read:
    post:
      summary: Reads list of the invoice
      operationId: Billing_ListInvoice
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListInvoiceResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListInvoiceResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListInvoiceRequest'
        description: Request message for the ListInvoice rpc.
        required: true
  /v1/invoicelayoutconfig:
    post:
      summary: WORK-IN-PROGRESS. Creates an invoice layout config
      operationId: Billing_CreateInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateInvoiceLayoutConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateInvoiceLayoutConfigRequest'
        required: true
  /v1/invoicelayoutconfig/{id}:
    delete:
      summary: WORK-IN-PROGRESS. Delete an invoice layout config
      operationId: Billing_DeleteInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The invoice layout config id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
    put:
      summary: WORK-IN-PROGRESS. Updates an invoice layout config
      operationId: Billing_UpdateInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The layout id to be updated
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateInvoiceLayoutConfigBody'
        required: true
  /v1/invoicelayoutconfig:read:
    post:
      summary: WORK-IN-PROGRESS. Reads all invoice layout config under an msp
      operationId: Billing_ReadInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ReadInvoiceLayoutConfigResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ReadInvoiceLayoutConfigResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReadInvoiceLayoutConfigRequest'
        required: true
  /v1/reseller/announcement:
    post:
      summary: Creates new announcement for wave users
      operationId: Billing_CreateAnnouncement
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAnnouncementRequest'
        required: true
  /v1/reseller/announcement/{announcementId}:
    delete:
      operationId: Billing_DeleteAnnouncement
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: announcementId
        description: Required
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      summary: Billing delete announcement
      x-summary-source: derived
    put:
      summary: Full update existing announcement
      operationId: Billing_UpdateAnnouncement
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: announcementId
        description: Required
        in: path
        required: true
        schema:
          type: string
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateAnnouncementBody'
        required: true
  /v1/reseller/announcements/bulk/status:
    patch:
      summary: Update multiple announcements status
      operationId: Billing_UpdateAnnouncementsStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateAnnouncementsStatusRequest'
        required: true
  /v1/reseller/announcements/{announcementId}/date:
    patch:
      summary: Update announcement date
      operationId: Billing_UpdateAnnouncementDate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: announcementId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
          minItems: 1
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingUpdateAnnouncementDateBody'
        required: true
  /v1/resellers:
    get:
      summary: ListResellers
      description: '**Lists all the reseller accounts.**

        > **Only available in Ripple.**'
      operationId: Billing_ListResellers
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/rippleReseller'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of rippleReseller
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Billing
    post:
      summary: Registers the reseller account. Only available in Ripple
      operationId: Billing_CreateReseller
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rippleReseller'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateResellerRequest'
        description: Request message for the CreateReseller rpc.
        required: true
  /v1/resellers/{id}:
    get:
      summary: Gets the reseller account. Only available in Ripple
      operationId: Billing_GetReseller
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rippleReseller'
        default:
[...]
