swagger: '2.0'
info:
  title: Blue API reference Admin Cost API
  description: 'Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/) for more information.


    You may encounter the following feature maturity indicators:

    - **(WORK-IN-PROGRESS)** - Development is ongoing, don''t use yet;

    - **(BETA)** - New or experimental features, subject to changes; and

    - **(DEPRECATED)** - Outdated or replaced features.


    Some endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.'
  version: v1
host: api.alphaus.cloud
basePath: /m/blue
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Cost
  description: 'Cost API. Base URL: https://api.alphaus.cloud/m/blue/cost'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/cost/
paths:
  /v1/alerts:
    post:
      summary: CreateBudgetAlerts
      description: 'Create the budget alerts.

        Only available in Wave(Pro).'
      operationId: Cost_CreateBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1BudgetAlerts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateBudgetAlerts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateBudgetAlertsRequest'
      tags:
      - Cost
  /v1/alerts/{id}:
    get:
      summary: GetBudgetAlerts
      description: 'Gets the budget alerts.

        Only available in Wave(Pro).'
      operationId: Cost_GetBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1BudgetAlerts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. budget alert id
        in: path
        required: true
        type: string
      tags:
      - Cost
    delete:
      summary: DeleteBudgetAlerts
      description: 'Deletes the budget alerts.

        Only available in Wave(Pro).'
      operationId: Cost_DeleteBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. budget alert id
        in: path
        required: true
        type: string
      tags:
      - Cost
    put:
      summary: UpdateBudgetAlerts
      description: 'Updates the budget alerts.

        Only available in Wave(Pro).'
      operationId: Cost_UpdateBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1BudgetAlerts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. budget alert id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdateBudgetAlertsBody'
      tags:
      - Cost
  /v1/alerts:read:
    post:
      summary: ReadBudgetAlerts
      description: "Reads the budget alerts.\nOnly available in Wave(Pro).\n[ERRORS] \n- Unimplemented:\n  - not implemented\n- InvalidArgument:\n  - parse error"
      operationId: Cost_ReadBudgetAlerts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1BudgetAlerts'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1BudgetAlerts
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ReadBudgetAlerts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadBudgetAlertsRequest'
      tags:
      - Cost
  /v1/aws/cur:import:
    post:
      summary: Initiates an ondemand import of all registered CUR files.
      description: See https://help.alphaus.cloud/en/articles/3612555-ripple-aws-things-you-need-to-prepare-before-starting for more information.
      operationId: Cost_ImportCurFiles
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Cost.ImportCurFiles rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ImportCurFilesRequest'
      tags:
      - Cost
  /v1/exportcsv/payers:export:
    post:
      summary: Exports RI and SP for all payers.
      operationId: Cost_GetExportRISP
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetExportRISPResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetExportRISPRequest'
      tags:
      - Cost
  /v1/invoicecosts:read:
    post:
      summary: 'WORK-IN-PROGRESS: Read the invoice costs. Only available in Ripple.'
      operationId: Cost_ReadInvoiceCosts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1TotalSection'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1TotalSection
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ReadInvoiceCosts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadInvoiceCostsRequest'
      tags:
      - Cost
  /v1/invoicegroupcosts:read:
    post:
      summary: 'WORK-IN-PROGRESS: Read the invoice group costs. Only available in Ripple.'
      operationId: Cost_ReadInvoiceGroupCosts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1BillingGroupSection'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1BillingGroupSection
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ReadInvoiceGroupCosts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadInvoiceGroupCostsRequest'
      tags:
      - Cost
  /v1/invoiceoverviews:read:
    post:
      summary: 'WORK-IN-PROGRESS: Read the invoice overviews. Only available in Ripple.'
      operationId: Cost_ReadInvoiceOverViews
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1OverViewSection'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1OverViewSection
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ReadInvoiceOverviews rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadInvoiceOverviewsRequest'
      tags:
      - Cost
  /v1/reports:export:
    post:
      summary: 'Exports a vendor report and delivers results via email notification channel.

        Supports multiple report types per vendor. For AWS, this covers RI/SP utilization reports.

        Returns a long-running operation; use GetOperation to poll for completion.'
      operationId: Cost_ExportReport
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for ExportReport.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ExportReportRequest'
      tags:
      - Cost
  /v1/{vendor}/accounts:
    get:
      summary: Lists all vendor accounts.
      operationId: Cost_ListAccounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiApiAccount'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiApiAccount
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, `aws` and `gcp` is supported.
        in: path
        required: true
        type: string
      - name: groupId
        description: Optional. The billing group internal id. Only valid for Ripple users.
        in: query
        required: false
        type: string
      - name: fieldMask
        description: Optional.
        in: query
        required: false
        type: string
      tags:
      - Cost
    post:
      summary: Registers a vendor account.
      operationId: Cost_CreateAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiApiAccount'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateAccountBody'
      tags:
      - Cost
  /v1/{vendor}/accounts/customers/accounts:check:
    post:
      summary: 'WORK-IN-PROGRESS: Check inputed accountIds belong to current MSP or not'
      operationId: Cost_CheckAccountsBelongToMsp
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CheckAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCheckAccountsBelongToMspBody'
      tags:
      - Cost
  /v1/{vendor}/accounts/groups/{groupId}:
    get:
      summary: Lists all vendor accounts.
      operationId: Cost_ListAccounts2
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiApiAccount'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiApiAccount
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, `aws` and `gcp` is supported.
        in: path
        required: true
        type: string
      - name: groupId
        description: Optional. The billing group internal id. Only valid for Ripple users.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: Optional.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/accounts/{id}:
    get:
      summary: Gets a vendor account. This API includes all of the account's metadata. See https://alphauslabs.github.io/blueapi/ for the list of supported attributes.
      operationId: Cost_GetAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiApiAccount'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, `aws` and `gcp` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The account id to retrieve.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: Optional.
        in: query
        required: false
        type: string
      tags:
      - Cost
    delete:
      summary: 'WORK-IN-PROGRESS: Deletes a vendor account.'
      operationId: Cost_DeleteAccount
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The account id to delete.
        in: path
        required: true
        type: string
      tags:
      - Cost
    put:
      summary: 'WORK-IN-PROGRESS: Updates a vendor account. Only available in Ripple.'
      operationId: Cost_UpdateAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiApiAccount'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required.
        in: path
        required: true
        type: string
      - name: id
        description: Required.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdateAccountBody'
      tags:
      - Cost
  /v1/{vendor}/adjustments:read:
    post:
      summary: Reads the non-usage-based details of an organization (Ripple) or billing group (Wave[Pro]).
      description: This API covers non-usage-based adjustments, such as Fees, Credits, Discounts, Tax, Upfront Fees, etc. At the moment, the supported `{vendor}` is `aws` or `azure`. If datetime range parameters are not set, month-to-date (current month) will be returned.
      operationId: Cost_ReadAdjustments
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCostV1CostItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCostV1CostItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` or `azure` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadAdjustmentsBody'
      tags:
      - Cost
  /v1/{vendor}/alerts/{id}:
    get:
      summary: Get the budget alerts for the account id. Only available in Wave(Pro).
      operationId: Cost_GetAccountBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiWaveBudgetAlert'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account Id
        in: path
        required: true
        type: string
      tags:
      - Cost
    delete:
      summary: Delete the budget alerts for the account id. Only available in Wave(Pro).
      operationId: Cost_DeleteAccountBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account Id
        in: path
        required: true
        type: string
      tags:
      - Cost
    post:
      summary: Create the budget alerts for the account id. Only available in Wave(Pro).
      operationId: Cost_CreateAccountBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiWaveBudgetAlert'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateAccountBudgetAlertsBody'
      tags:
      - Cost
    put:
      summary: Update the budget alerts for the account id. Only available in Wave(Pro).
      operationId: Cost_UpdateAccountBudgetAlerts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiWaveBudgetAlert'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdateAccountBudgetAlertsBody'
      tags:
      - Cost
  /v1/{vendor}/aors:read:
    post:
      summary: 'Reads all vendor account-original-resources.

        Account that have not been used for one month will no longer be retrieved.'
      operationId: Cost_ReadAccountOriginalResources
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/apiAccountOriginalResource'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of apiAccountOriginalResource
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws`.`gcp`,`azure` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadAccountOriginalResourcesBody'
      tags:
      - Cost
  /v1/{vendor}/bep/{orgId}:
    get:
      summary: Get the breakeven point details for the RI or SP.
      operationId: Cost_GetBreakevenPoint
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBreakevenPointResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: type
        description: Required. For AWS, "ri" or "sp".
        in: query
        required: false
        type: string
      - name: arn
        description: Required. RI/SP Arn.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/budget/{budgetId}:
    delete:
      summary: Removes monthly budget for the account/acctgroup id from database.
      operationId: Cost_DeleteAccountBudget
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: budgetId
        description: Required. Budget Id
        in: path
        required: true
        type: string
      tags:
      - Cost
    put:
      summary: Updates monthly budget for the account/acctgroup id.
      operationId: Cost_UpdateAccountBudget
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: budgetId
        description: Required. Budget Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdateAccountBudgetBody'
      tags:
      - Cost
  /v1/{vendor}/budget/{level}/{id}:
    get:
      summary: Fetches monthly budget for the account/acctgroup id.
      operationId: Cost_GetAccountBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAccountBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: level
        description: Required. 'account' or 'acctgroup'
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account or AccountGroup Id
        in: path
        required: true
        type: string
      - name: year
        description: 'Optional. Default is current year. Format: `yyyy`.'
        in: query
        required: false
        type: string
      tags:
      - Cost
    post:
      summary: Creates monthly budget for the account/acctgroup id.
      operationId: Cost_CreateAccountBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateAccountBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: level
        description: Required. 'account' or 'acctgroup'
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account or AccountGroup Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateAccountBudgetBody'
      tags:
      - Cost
  /v1/{vendor}/calculation/prerequisites/{month}:
    get:
      summary: 'WORK-IN-PROGRESS: List the prerequisites for cost calculations.'
      operationId: Cost_ListCalculationPrerequisites
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListCalculationPrerequisitesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: month
        description: Required. Month in format yyyy-mm.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/calculations/history:
    get:
      summary: Lists vendor costs calculations history and statuses.
      operationId: Cost_ListCalculationsHistory
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListCalculationsHistoryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: asOf
        description: Optional. List operations on and after this date. Format is yyyymmdd. For example, if you want to list all operations starting from June 01, 2021, set to `20210601`. If not set, defaults to the first day of the current UTC month.
        in: query
        required: false
        type: string
      - name: excludeDone
        description: Optional. If true, exclude all operations that are marked as done. Include by default.
        in: query
        required: false
        type: boolean
      tags:
      - Cost
  /v1/{vendor}/calculations/schedules:
    get:
      summary: Lists the schedules of your monthly calculations. Only available in Ripple.
      operationId: Cost_ListCalculationsSchedules
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListCalculationsSchedulesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      tags:
      - Cost
    post:
      summary: Creates a schedule to trigger your monthly calculations. At the moment, only one schedule is allowed per account. Only available in Ripple.
      operationId: Cost_CreateCalculationsSchedule
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CalculationsSchedule'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateCalculationsScheduleBody'
      tags:
      - Cost
  /v1/{vendor}/calculations/schedules/{id}:
    delete:
      summary: Deletes the schedule of your monthly calculations. Only available in Ripple.
      operationId: Cost_DeleteCalculationsSchedule
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The id to delete. Can be set to either `-` or `*`, which means all.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/calculator/config:
    get:
      summary: 'WORK-IN-PROGRESS: Gets the vendor cost calculator''s current configuration.'
      operationId: Cost_GetCalculatorConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCalculatorConfigResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/calculator/config/costmods:
    get:
      summary: Lists the cost calculator's cost modifiers. At the moment, the supported {vendor} is 'aws'. Only available in Ripple.
      operationId: Cost_ListCalculatorCostModifiers
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1CalculatorCostModifier'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1CalculatorCostModifier
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` and `azure` are supported.
        in: path
        required: true
        type: string
      tags:
      - Cost
    post:
      summary: Creates a cost modifier.
      description: A cost modifier allows you to modify the cost per lineitem. At the moment, the supported `{vendor}` is `aws` and only applies to items not affected by trueunblended calculations. Items not covered include some usages under `AmazonEC2`, `AmazonRDS`, `AmazonElastiCache`, `AmazonES`, and `AmazonRedShift`, that are covered by their respective RIs and/or SPs. Non-usage items such as discounts, refunds, fees, etc. are also not covered. Only available in Ripple.
      operationId: Cost_CreateCalculatorCostModifier
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateCalculatorCostModifierResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateCalculatorCostModifierBody'
      tags:
      - Cost
  /v1/{vendor}/calculator/config/costmods/{id}:
    delete:
      summary: Deletes a cost modifier. At the moment, the supported {vendor} is 'aws'. Only available in Ripple.
      operationId: Cost_DeleteCalculatorCostModifier
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` and `azure` are supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The id of the modifier to delete.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/calculator/running:read:
    post:
      summary: Lists the vendor calculator's queued accounts for calculation.
      description: If result is non-empty, it means calculation is still in progress for the returned accounts. Only available in Ripple.
      operationId: Cost_ListCalculatorRunningAccounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListCalculatorRunningAccountsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListCalculatorRunningAccountsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostListCalculatorRunningAccountsBody'
      tags:
      - Cost
  /v1/{vendor}/costattrs:
    get:
      summary: 'WORK-IN-PROGRESS: Reads the available cost attributes of an organization (Ripple) or billing group (Wave).'
      operationId: Cost_GetCostAttributes
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostAttributesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: month
        description: 'Required. Format: `yyyy-mm`.'
        in: query
        required: false
        type: string
      - name: groupId
        description: Optional. If set, reads the cost attributes of this group. Only valid for Ripple users. Implied as the parent billing group for Wave(Pro) users.
        in: query
        required: false
        type: string
      - name: accountId
        description: Optional. You can set it to a single account or a comma-separated list of accounts. If set, overrides `groupId`
        in: query
        required: false
        type: string
      - name: category
        description: Optional. A comma-separated list of dimensions to query. Valid values are `productCode`, `serviceCode`, `region`, `zone`, `usageType`, `instanceType`, `operation`, `invoiceId`, `description`, `resourceId` and `tags`. Sequence doesn't matter. An empty value implies all attributes will be returned.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/costattrs:read:
    post:
      summary: Reads the available cost attributes of an organization (Ripple) or billing group (Wave).
      description: Similar to the `ReadCosts` API but without the aggregated usages and costs. At the moment, the supported `{vendor}` is `aws`. If datetime range parameters are not set, month-to-date (current month) will be returned.
      operationId: Cost_ReadCostAttributes
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1CostAttributeItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1CostAttributeItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadCostAttributesBody'
      tags:
      - Cost
  /v1/{vendor}/costfilters:
    get:
      summary: Lists the usage-based cost filter condition. Only available in Wave(Pro).
      operationId: Cost_ListCostFilters
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListCostFiltersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      tags:
      - Cost
    post:
      summary: Creates the usage-based cost filter condition.
      description: You can consider cost filters as predefined/prefiltered queries using the `v1/{vendor}/costs:read` or `ReadCosts` API. Only available in Wave(Pro).
      operationId: Cost_CreateCostFilters
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateCostFiltersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreateCostFiltersBody'
      tags:
      - Cost
  /v1/{vendor}/costfilters/{filterId}:
    delete:
      summary: Deletes the usage-based cost filter condition. Only available in Wave(Pro).
      operationId: Cost_DeleteCostFilters
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: filterId
        description: Required. Filter Id to delete.
        in: path
        required: true
        type: string
      tags:
      - Cost
    put:
      summary: Updates the usage-based cost filter condition. Only available in Wave(Pro).
      operationId: Cost_UpdateCostFilters
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostFiltersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: filterId
        description: Required. Filter Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdateCostFiltersBody'
      tags:
      - Cost
  /v1/{vendor}/costfilters/{filterId}:export:
    post:
      summary: Exports the usage-based cost filter condition. Only available in Wave(Pro).
      operationId: Cost_ExportCostFiltersFile
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: filterId
        description: Required. Filter Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostExportCostFiltersFileBody'
      tags:
      - Cost
  /v1/{vendor}/costs:calculate:
    post:
      summary: Triggers monthly calculations for costs and invoices at either organization or billing group level.
      description: For the AWS calculator, aggregation is done at daily and monthly level. Also, all occurrences of the character `|` (pipe) in the CUR descriptions and tag key/values are replaced with the `/` (forward-slash) character. This is due to the `|` character having a special designation in the data processing workflows.
      operationId: Cost_CalculateCosts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCalculateCostsBody'
      tags:
      - Cost
  /v1/{vendor}/costs:read:
    post:
      summary: Reads the usage-based cost details of an organization (Ripple) or billing group (Wave).
      description: You can refer to this [guide](https://labs.alphaus.cloud/docs/guides/aws-query-costs/) for more examples on how to use this API. Although the guide uses `bluectl`, the parameters are the same.
      operationId: Cost_ReadCosts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCostV1CostItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCostV1CostItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. Supported vendors are `aws`,`azure` and `gcp`.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadCostsBody'
      tags:
      - Cost
  /v1/{vendor}/coverage/ondemand/{orgId}:read:
    post:
      summary: Get ondemand cost details for an organization (or MSP).
      operationId: Cost_GetCoverageOndemand
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCoverageOndemandResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostGetCoverageOndemandBody'
      tags:
      - Cost
  /v1/{vendor}/coverage/options/{orgId}:read:
    post:
      summary: Get coverage options details for an organization (or MSP).
      operationId: Cost_GetCoverageOptions
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCoverageOptionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostGetCoverageOptionsBody'
      tags:
      - Cost
  /v1/{vendor}/forecasts:
    get:
      summary: Fetches cost forecasts for the specified billing group. Includes historical cost (up to previous month) and forecasted cost (up to three months for now).
      operationId: Cost_GetForecasts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetForecastsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: billingInternalId
        description: Optional. Company Id of Billing Group to retrieve. Default value is user's Company Id
        in: query
        required: false
        type: string
      - name: frequency
        description: "Optional. Forecast frequency. Valid values are `daily` and `monthly`. \nDefault value is `daily`."
        in: query
        required: false
        type: string
      - name: level
        description: Optional. Forecast granularity. Valid values are `account`, `category` and `product`. Default value is `account`.
        in: query
        required: false
        type: string
      - name: fromDate
        description: 'Optional. Start date to get cost forecast. If from_date is less than current date, historical costs are included. If from_date is greater than current date, only forecasted costs are returned. Format: `yyyy-mm-dd`.'
        in: query
        required: false
        type: string
      - name: toDate
        description: 'Optional. End date to get cost forecast. Currently, we only support 90 days forecasting from the first day of current month. Format: `yyyy-mm-dd`.'
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/forecasts/month-on-month/{level}/{id}:
    get:
      summary: Fetches previous month cost vs current month forecast vs current accumulated cost per category for id.
      operationId: Cost_GetMonthOnMonthCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMonthOnMonthCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: level
        description: Required. 'account' or 'acctgroup'
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account or AccountGroup Id
        in: path
        required: true
        type: string
      - name: date
        description: 'Optional. Default is current month. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/forecasts/month-to-date/{level}/{id}:
    get:
      summary: Fetches current month daily forecast vs current accumulated daily cost for id.
      operationId: Cost_GetMonthToDateCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMonthToDateCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: level
        description: Required. 'account' or 'acctgroup'
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account or AccountGroup Id
        in: path
        required: true
        type: string
      - name: date
        description: 'Optional. Default is current month. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/forecasts/monthly/{level}/{id}:
    get:
      summary: Fetches monthly accumulated costs vs forecasted cost vs budget for the id.
      operationId: Cost_GetMonthlyCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMonthlyCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: level
        description: Required. 'account' or 'acctgroup'
        in: path
        required: true
        type: string
      - name: id
        description: Required. Account or AccountGroup Id
        in: path
        required: true
        type: string
      - name: fromDate
        description: 'Optional. Start month to get cost forecast. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      - name: toDate
        description: 'Optional. Last month to get cost forecast. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/invoiceids:read:
    post:
      summary: Read the invoice ids. Only available in Ripple.
      operationId: Cost_ReadInvoiceIds
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ReadInvoiceIdsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ReadInvoiceIdsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadInvoiceIdsBody'
      tags:
      - Cost
  /v1/{vendor}/nontagcosts:read:
    post:
      summary: Reads the usage-based non tag costs of a billing group.
      description: At the moment, the supported `{vendor}` is `aws`. If datetime range parameters are not set, month-to-date (current month) will be returned.
      operationId: Cost_ReadNonTagCosts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCostV1CostItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCostV1CostItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadNonTagCostsBody'
      tags:
      - Cost
  /v1/{vendor}/payers:
    get:
      summary: Lists vendor payer accounts.
      description: For AWS, these are management accounts (formerly known as master or payer accounts); for Azure, these are subscriptions, for GCP, these are projects.
      operationId: Cost_ListPayerAccounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiApiAccount'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiApiAccount
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Cost
    post:
      summary: 'DEPRECATED: Registers a vendor payer account. This is now deprecated for AWS payer accounts. To register an AWS payer account, check out the ''CreateDefaultCostAccess'' API.'
      operationId: Cost_CreatePayerAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiApiAccount'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostCreatePayerAccountBody'
      tags:
      - Cost
  /v1/{vendor}/payers/basicdetails:
    post:
      summary: 'WORK-IN-PROGRES: Registers a vendor payer account with their basics details such as accountId and accountName.'
      operationId: Cost_RegisterPayerAccount
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostRegisterPayerAccountBody'
      tags:
      - Cost
  /v1/{vendor}/payers/basicdetails/{id}:
    put:
      summary: 'WORK-IN-PROGRES: Updates a vendor payer account''s basics details.'
      operationId: Cost_UpdatePayerAccount
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The Payer/Management account Id to update.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostUpdatePayerAccountBody'
      tags:
      - Cost
  /v1/{vendor}/payers/{id}:
    get:
      summary: Gets a vendor payer account.
      description: This API includes all of the account's metadata. See (https://alphauslabs.github.io/blueapi/)[https://alphauslabs.github.io/blueapi/] for the list of supported attributes. For AWS, this means a management account (formerly known as master or payer account); for Azure, this means a subscription, for GCP, this means a project.
      operationId: Cost_GetPayerAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/ripplePayer'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The id of the account to get.
        in: path
        required: true
        type: string
      tags:
      - Cost
    delete:
      summary: Deletes a vendor payer account.
      operationId: Cost_DeletePayerAccount
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The id of the account.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/payers/{id}/billingtransfer:
    post:
      summary: 'WORK-IN-PROGRESS: Setup payer''s billing transfer information'
      operationId: Cost_SetupPayerAccountBillingTransfer
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. The vendor. Only 'aws' is supported for now.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The Payer account ID
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostSetupPayerAccountBillingTransferBody'
      tags:
      - Cost
  /v1/{vendor}/payers/{id}/importhistory:
    get:
      summary: Gets a payer account's import history.
      description: Import history is a list of timestamps our system tracks when the account's data are imported to our system, which in turn, triggers processing. At the moment, this only supports AWS (CUR files). You can also set `{id}` to `*` to return all payers' information under the organization.
      operationId: Cost_GetPayerAccountImportHistory
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetPayerAccountImportHistoryResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetPayerAccountImportHistoryResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The account id to query. Could be `*`, which implies all payers.
        in: path
        required: true
        type: string
      - name: month
        description: Optional. The UTC month to query. If empty, defaults to current month. Format is `yyyymm`. For example, June 2021 will be `202106`.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/payers/{id}/proforma:
    get:
      summary: Gets a payer account's proforma reports. Applicable for AWS payer accounts only.
      operationId: Cost_GetPayerProformaReports
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetPayerProformaReportsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The account id to query.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/payersextended:
    get:
      summary: Lists vendor payer accounts with extended information. WORK IN PROGRESS
      description: 'This endpoint returns additional fields beyond the standard ListPayerAccounts response.

        For AWS, these are management accounts (formerly known as master or payer accounts); for Azure, these are subscriptions, for GCP, these are projects.'
      operationId: Cost_ListPayerAccountsExtended
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1PayerAccountExtended'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1PayerAccountExtended
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/payersextended/{id}:
    get:
      summary: Gets a vendor payer account with extended information. WORK IN PROGRESS
      description: 'This endpoint returns additional fields beyond the standard GetPayerAccount response.

        For AWS, this means a management account (formerly known as master or payer account); for Azure, this means a subscription, for GCP, this means a project.'
      operationId: Cost_GetPayerAccountExtended
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1PayerAccountExtended'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: id
        description: Required. The id of the account to get.
        in: path
        required: true
        type: string
      tags:
      - Cost
  /v1/{vendor}/recommendations/{orgId}:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get cost opmtimization recommendations for an organization (or MSP).'
      operationId: Cost_GetRecommendations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetRecommendationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostGetRecommendationsBody'
      tags:
      - Cost
  /v1/{vendor}/reduction/{orgId}:read:
    post:
      summary: Get cost reduction details for an organization (or MSP).
      operationId: Cost_GetCostReduction
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostReductionResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostGetCostReductionBody'
      tags:
      - Cost
  /v1/{vendor}/tagcosts:read:
    post:
      summary: Reads the usage-based tag costs of a billing group.
      description: At the moment, the supported `{vendor}` is `aws`. If datetime range parameters are not set, month-to-date (current month) will be returned.
      operationId: Cost_ReadTagCosts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCostV1CostItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCostV1CostItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CostReadTagCostsBody'
      tags:
      - Cost
  /v1/{vendor}/tags:
    get:
      summary: Lists all vendor tags.
      operationId: Cost_ListTags
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/apiCostTag'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of apiCostTag
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: groupId
        description: Optional. The billing group internal id. Only valid for Ripple users.
        in: query
        required: false
        type: string
      - name: fieldMask
        description: Optional.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/tags/groups/{groupId}:
    get:
      summary: Lists all vendor tags.
      operationId: Cost_ListTags2
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/apiCostTag'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of apiCostTag
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: groupId
        description: Optional. The billing group internal id. Only valid for Ripple users.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: Optional.
        in: query
        required: false
        type: string
      tags:
      - Cost
  /v1/{vendor}/utilization/{orgId}:
    get:
      summary: Get the utilization details for an organization (or MSP).
      operationId: Cost_GetUtilization
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetUtilizationResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: orgId
        description: Required. Organization Id.
        in: path
        required: true
        type: string
      - name: type
        description: Required. For AWS, "ri" or "sp".
        in: query
        required: false
        type: string
      - name: fromDate
        description: 'Optional. The start date of the displayed data. If not set, the first day of the current month will be used. Format: yyyy-mm-dd.'
        in: query
        required: false
        type: string
      - name: toDate
        description: 'Optional. The end date of the displayed data. If not set, current date will be used. Format: yyyy-mm-dd.'
        in: query
        required: false
        type: string
      - name: payerId
        description: Optional. Payer Id.
        in: query
        required: false
        type: string
      - name: billingInternalId
        description: Optional. Billing group Id.
        in: query
        required: false
        type: string
      - name: groupId
        description: Optional. Account group Id.
        in: query
        required: false
        type: string
      - name: costGroupId
        description: Optional. Cost Group Id used in octo.
        in: query
        required: false
        type: string
      tags:
      - Cost
definitions:
  v1GetCoverageOndemandResponse:
    type: object
    properties:
      orgId:
        type: string
      ondemandData:
        type: array
        items:
          type: object
          $ref: '#/definitions/apiOndemandData'
    title: Response message for GetCoverageOndemand
  apiKeyValueMap:
    type: object
    properties:
      key:
        type: string
      stringValue:
        type: string
      boolValue:
        type: boolean
    description: KeyValueMap resource definition.
  apiWaveBudget:
    type: object
    properties:
      id:
        type: string
        title: 'budget id

          `previousDay` / `daily` / `monthly` / `customPeriod` / `customMonth`'
      value:
        type: number
        format: double
        title: budget value
      enabled:
        type: boolean
        title: budget setting enable/disable
    description: Budget resource definition.
  v1ReadInvoiceOverviewsRequest:
    type: object
    properties:
      startTime:
        type: string
        description: 'Optional. The UTC date to start streaming data from. If not set, the first day of the current month will be used. Format: `yyyymmdd`. The oldest supported date is `20240101`.'
      endTime:
        type: string
        description: 'Optional. The UTC date to end the streaming data. If not set, current date will be used. Format: `yyyymmdd`.'
      usePeriodRange:
        type: boolean
        title: Set true to use period range as date input, startTime and endTime would be ignored
      periodRange:
        $ref: '#/definitions/v1PeriodRange'
        title: Use when usePeriodRange range is true
      toCurrency:
        type: string
        description: Optional. Set to US dollars (USD) by default (AWS CUR's default currency). You can set it to the desired three-letter currency symbol (i.e. JPY, EUR, GBP), in which case, it will use the latest exchange rates provided by https://fixer.io. If you prefer a custom exchange rate, you can append the rate to the currency's three-letter symbol. For example, `JPY:110.622` for the Japanese Yen. Note that the exchange rate should be against the US dollar (USD).
    description: Request message for the ReadInvoiceOverviews rpc.
  v1GetExportRISPResponse:
    type: object
    properties:
      downloadLink:
        type: string
        title: 'csv direct download link

          expires in 10 minutes'
    description: Request message for the ExportBillingGroupInvoiceServiceDiscounts rpc.
  CostSetupPayerAccountBillingTransferBody:
    type: object
    properties:
      month:
        type: string
        description: Required. The billing transfer month.
      s3Bucket:
        type: string
        description: Required. The s3 bucket where the cost and usage report can be downloaded.
      reportName:
        type: string
        description: Required. The actual name of the cost and usage report.
      roleArn:
        type: string
        description: Required. The Role ARN needed to access the s3 bucket.
      curType:
        type: string
        title: 'Required. The type of cur. Valid values are: ''legacy'' and ''2.0'''
      prefix:
        type: string
        title: Optional. Prefix of the report inside the bucket
    title: Request message for SetupPayerAccountBillingTransfer
  apiAwsCost:
    type: object
    properties:
      account:
        type: string
        description: The account being queried.
      groupId:
        type: string
        description: The group id the account is associated with during the query.
      type:
        type: string
      date:
        type: string
        description: For daily data, format is `yyyy-mm-dd`; for monthly, `yyyy-mm`.
      productCode:
        type: string
        description: The product code for an AWS service, such as `AmazonEC2`, `AmazonRDS`, etc. This can also be an Alphaus-specified custom value.
      serviceCode:
        type: string
        description: The CUR service code of the lineitem, if applicable. Sometimes, this is the same as `productCode`, a subset of `productCode`, an Alphaus-specified custom value, or empty.
      region:
        type: string
        description: The region of the lineitem, if applicable.
      zone:
        type: string
        description: The zone of the lineitem, if applicable.
      usageType:
        type: string
        description: The CUR usage type of the lineitem, if applicable.
      instanceType:
        type: string
        description: The CUR instance type of the lineitem, if applicable.
      operation:
        type: string
        description: The CUR operation of the lineitem, if applicable.
      invoiceId:
        type: string
        description: The AWS invoice ID of the lineitem, if applicable.
      description:
        type: string
        description: The description of the lineitem, if applicable.
      resourceId:
        type: string
        description: The resource id of the lineitem, if applicable. At the moment, this is not yet fully supported.
      tags:
        type: object
        additionalProperties:
          type: string
      costCategories:
        type: object
        additionalProperties:
          type: string
      usage:
        type: number
        format: double
        description: Only set when `description` and/or `resourceId` attributes are specified.
      cost:
        type: number
        format: double
        description: The true cost (calculated) for this lineitem.
      unblendedCost:
        type: number
        format: double
        description: The unblended cost as reflected in the CUR for this lineitem.
      baseCurrency:
        type: string
        description: The base currency for `cost`, `unblendedCost`, `effectiveCost`, `amortizedCost`. Always set to `USD`, CUR's default currency.
      exchangeRate:
        type: number
        format: double
        description: The exchange rate used to convert `baseCurrency` to `targetCurrency`.
      targetCost:
        type: number
        format: double
        description: Converted `cost`.
      targetUnblendedCost:
        type: number
        format: double
        description: Converted `unblendedCost`.
      targetCurrency:
        type: string
        description: The currency set by `toCurrency`.
      effectiveCost:
        type: number
        format: double
      targetEffectiveCost:
        type: number
        format: double
        description: Converted `effectiveCost`.
      amortizedCost:
        type: number
        format: double
      targetAmortizedCost:
        type: number
        format: double
        description: Converted `amortizedCost`.
      tagId:
        type: string
      timestamp:
        type: string
        description: Get last update in UNIX time format.
      metadata:
        type: array
        items:
          type: object
          $ref: '#/definitions/apiKeyValue'
        description: Various metadata associated with this lineitem.
  apiCustomPeriodBudgetAlert:
    type: object
    properties:
      value:
        type: number
        format: double
        title: Required. threshold in budget alerts
      enabled:
        type: boolean
        description: "Required. notification enable/disable \nIf disabled, no alert is sent."
      startDate:
        type: string
        title: Required. start date in budget alerts
      endDate:
        type: string
        title: Required. end date in budget alerts
    description: CustomPeriodBudgetAlert resource definition.
  CostExportCostFiltersFileBody:
    type: object
    properties:
      notificationChannelIds:
        type: array
        items:
          type: string
        description: Required. The channel ids to use for notifications.
      startTime:
        type: string
        description: 'Optional. The UTC date to start streaming data from. If not set, the first day of the current month will be used. Format: `yyyymmdd`. The oldest supported date is `20200101`.'
      endTime:
        type: string
        description: 'Optional. The UTC date to end the streaming data. If not set, current date will be used. Format: `yyyymmd`.'
      groupByMonth:
        type: boolean
        description: Optional. If set to true, return data grouped by month within the date range. If you want data that is grouped per account per month, set this to `true`, then set `groupByColumns` to `none`.
      groupByColumns:
        type: string
        description: 'Optional. A comma-separated list of columns to aggregate the data into. Valid values are `productCode`, `serviceCode`, `region`, `zone`, `usageType`, `instanceType`, `operation`, `invoiceId`, `description`, and `resourceId`. A special value of `none` is also supported, which means query by date or month per account only.


          For example, if you only want the services and region data, you can set this field to `productCode,region`. Your input sequence doesn''t matter (although the sequence above is recommended) as the actual sequence is already fixed in the return data (see the definition in https://github.com/alphauslabs/blueapi/blob/main/api/aws/cost.proto), which is generic to specific, top to bottom. Invalid values are discarded. Excluded columns will be empty.'
      includeTags:
        type: boolean
        description: Optional. If set to true, stream will include resource tags.
    description: Request message for the ExportCostFiltersFile rpc.
  v1CalculatorCostModifierAzureOptionsModifierDescriptionModifier:
    type: object
    properties:
      prefix:
        type: string
        description: Optional. Add a prefix to the description.
      suffix:
        type: string
        description: Optional. Add a suffix to the description.
      replace:
        type: string
        description: Optional. Replace the description with the input.
  apiAwsCostAttribute:
    type: object
    properties:
      account:
        type: string
      groupId:
        type: string
      productCode:
        type: string
      serviceCode:
        type: string
      region:
        type: string
      zone:
        type: string
      usageType:
        type: string
      instanceType:
        type: string
      operation:
        type: string
      invoiceId:
        type: string
      description:
        type: string
      resourceId:
        type: string
      tags:
        type: object
        additionalProperties:
          type: string
      costCategories:
        type: object
        additionalProperties:
          type: string
  CostUpdateAccountBudgetAlertsBody:
    type: object
    properties:
      budgetAlert:
        $ref: '#/definitions/apiWaveBudgetAlert'
        description: 'Required. Budget alert setting.


          Set only the setting value to be changed.

          For example, If you want to change only daily value, set `{"budget":[{"id":"daily","value":100,"enabled":true}}` as a parameter

          The same goes for notification. If you want to change only email value, set `{"notification":[{"id":"email","destination":"budgetalert-example@alphaus.cloud","enabled":true}}` as a parameter'
    title: Request message for UpdateAccountBudgetAlerts
  v1CreateAccountRequestAwsOptions:
    type: object
    properties:
      managementAccountId:
        type: string
        description: Optional. The management account id (formerly known as master, or payer) to which an account belongs to, initially. If the account is moved to another management account, the system is able to detect it and set this value accordingly.
    description: AWS-specific options for registering an account.
  v1GetForecastsResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/apiBillingGroupForecast'
    description: Response message for GetForecasts per billing group.
  v1OverViewOptionSection:
    type: object
    properties:
      sppDiscountCost:
        type: number
        format: double
        description: The spp discount cost.
      edpDiscountCost:
        type: number
        format: double
        description: The edp discount cost.
    description: OverViewOptionSection resource definition.
  awsExcludedServiceFromUsage:
    type: object
    properties:
      managementAccount:
        type: string
        description: The management account (formerly master account) the `productCode` belongs to.
      productCode:
        type: string
        description: The excluded product code.
      convertedToAdjustments:
        type: boolean
        description: If the product code is converted to Adjustments or not.
  CostListCalculatorRunningAccountsBody:
    type: object
    properties:
      month:
        type: string
        description: Optional. The UTC month to query. Defaults to current month if empty. Format is `yyyymm`. For example, June 2021 will be `202106`.
    description: Request message for the Cost.ListCalculatorRunningAccounts rpc.
  v1CreateCostFiltersResponse:
    type: object
    properties:
      filterId:
        type: string
        description: Required. Filter Id.
    description: Response message for the CreateCostFilters rpc.
  awsRiRecommendation:
    type: object
    properties:
      accountId:
        type: string
      productCode:
        type: string
      location:
        type: string
      instanceType:
        type: string
      quantity:
        type: string
        format: int64
      normalizedUnit:
        type: number
        format: double
      operatingSystem:
        type: string
        title: for amazon ec2 only
      preInstalledSW:
        type: string
      tenancy:
        type: string
      dbEngine:
        type: string
        title: for amazon rds only
      deploymentOption:
        type: string
      ondemandCost:
        type: number
        format: double
      ondemandrate:
        type: number
        format: double
      riRate:
        type: number
        format: double
      upfrontCost:
        type: number
        format: double
      discountedCost:
        type: number
        format: double
      monthlyAmortizedCost:
        type: number
        format: double
      monthlyRecurringCost:
        type: number
        format: double
      yearlyDiscountedCost:
        type: number
        format: double
      reductionRate:
        type: number
        format: double
      estimatedMonthlySavings:
        type: number
        format: double
      daysBeforeBreakEven:
        type: number
        format: double
  apiOndemandChart:
    type: object
    properties:
      date:
        type: string
      service:
        type: string
      normalizedUsage:
        type: number
        format: double
      ondemandCost:
        type: number
        format: double
      usage:
        type: number
        format: double
  v1CalculatorCostModifier:
    type: object
    properties:
      id:
        type: string
      createTime:
        type: string
      updateTime:
        type: string
      awsOptions:
        $ref: '#/definitions/v1CalculatorCostModifierAwsOptions'
      azureOptions:
        $ref: '#/definitions/v1CalculatorCostModifierAzureOptions'
  apiDailyRateIncreaseBudgetAlert:
    type: object
    properties:
      value:
        type: number
        format: double
        title: Required. threshold in budget alerts
      enabled:
        type: boolean
        description: "Required. notification enable/disable \nIf disabled, no alert is sent."
    description: DailyRateIncreaseBudgetAlert resource definition.
  apiEmailChannel:
    type: object
    properties:
      format:
        type: string
      recipients:
        type: array
        items:
          type: string
  v1GetRecommendationsRequestAwsOptions:
    type: object
    properties:
      recommendationType:
        type: string
        description: 'Required. Valid values: ''reservation'', ''rightsizing'', ''scheduling''. Only ''reservation'' is supported for now.'
      type:
        type: string
        title: 'For recommendationType = ''reservation''. Optional. Valid values: ''combined'', ''individual''

          Default: ''combined'''
      riServices:
        type: array
        items:
          type: string
        description: 'For recommendationType = ''reservation''. Optional. List of Services ["AmazonEC2", "AmazonRDS", "AmazonElastiCache", "AmazonES", "AmazonRedshift"]. Default: Empty list.'
      spServices:
        type: array
        items:
          type: string
        description: 'For recommendationType = ''reservation''. Optional. List of Services ["AmazonECS", "AmazonEKS", "AWSLambda"]. Default: Empty list.'
      purchaseEC2SavingsPlan:
        type: boolean
        description: 'For recommendationType = ''reservation''. Optional. If set to "true", recommends EC2 Instance Savings Plan that will cover usage not covered by RI. Default: false.'
      ec2SpProductFamily:
        type: string
        description: 'For recommendationType = ''reservation''. Optional. Valid values: ''EC2Instance'', ''Compute''. Default: ''EC2Instance''.'
      term:
        type: string
        description: 'For recommendationType = ''reservation''. Optional. Valid values: ''1yr'', ''3yr''. Default: ''1yr''.'
      offeringClass:
        type: string
        description: 'For recommendationType = ''reservation''. Optional. Valid values: ''standard'', ''convertible''. Default: ''standard''.'
      paymentOption:
        type: string
        description: 'For recommendationType = ''reservation''. Optional. Valid values: ''allUpfront'', ''partialUpfront'', ''noUpfront''. Default: ''allUpfront''.'
      coveragePercentage:
        type: number
        format: double
        description: 'For recommendationType = ''reservation''. Optional. Percentage of the usage (in NormalizedUnits) to be covered by Reserved Instance or Savings Plan. Default: 100.'
  v1GetBreakevenPointResponse:
    type: object
    properties:
      orgId:
        type: string
      awsCostBreakeven:
        $ref: '#/definitions/awsAwsCostBreakeven'
    title: Response message for GetBreakevenPoint
  apiOndemandData:
    type: object
    properties:
      id:
        type: string
      ondemandChart:
        type: array
        items:
          type: object
          $ref: '#/definitions/apiOndemandChart'
  v1ReadCostAttributesRequestAwsOptions:
    type: object
    properties:
      dimensions:
        type: string
        description: Optional. A comma-separated list of dimensions to query. Valid values are `productCode`, `serviceCode`, `region`, `zone`, `usageType`, `instanceType`, `operation`, `invoiceId`, `description`, `resourceId`, `tags`, and `costCategories`. Sequence doesn't matter. An empty value implies all attributes will be returned.
  apiBillingGroupForecast:
    type: object
    properties:
      billingInternalId:
        type: string
      data:
        type: array
        items:
          type: object
          $ref: '#/definitions/apiForecastData'
  v1CreatePayerAccountRequestAwsOptions:
    type: object
    properties:
      id:
        type: string
        description: Required. The id of the management account.
      name:
        type: string
        description: Optional. The name, or description of the management account. This is set to `id` when not specified.
      bucketName:
        type: string
        description: Required. S3 Bucket name.
      prefix:
        type: string
        description: Optional. Prefix.
      reportName:
        type: string
        description: Required. Report name.
      roleArn:
        type: string
        description: Required. Role ARN for Alphaus to assume for access.
    description: 'See [https://help.alphaus.cloud/en/articles/3612555-ripple-aws-things-you-need-to-prepare-before-starting] for more information.


      See [https://docs.aws.amazon.com/cur/latest/userguide/cur-create.html] for more information. Requirements include: Additional report details = ''Include Resource IDS'' enabled, Prefix = non-empty (recommendation only), Time granularity = ''Hourly'', File format = ''text/csv''.'
  v1PayerAccountExtended:
    type: object
    properties:
      payer:
        $ref: '#/definitions/ripplePayer'
        title: 'Standard payer account information includes: vendor, id, name, orgId, billingInternalId, and metadata array'
      target:
        type: string
        description: The target payer account ID (from extended response).
      roleArn:
        type: string
        description: The IAM role ARN for cost access (from payer.metadata or extended response).
      externalId:
        type: string
        description: The external ID used for assuming the role (if applicable).
      stackId:
        type: string
        description: The CloudFormation stack ID (if using stack-based deployment).
      stackRegion:
        type: string
        description: The AWS region where the CloudFormation stack is deployed.
      templateUrl:
        type: string
        description: The CloudFormation template URL used for deployment.
      status:
        type: string
        description: The current status of the payer setup. Comma-separated values such as 'curOnly,manualExport', etc.
      lastUpdated:
        type: string
        description: The timestamp when the payer configuration was last updated in RFC3339 format.
      bucketName:
        type: string
        description: S3 bucket name (from payer.metadata).
      prefix:
        type: string
        description: S3 prefix (from payer.metadata).
      reportName:
        type: string
        description: CUR report name (from payer.metadata).
      defaultCostAccessRoleArn:
        type: string
        description: Default cost access role ARN (from payer.metadata).
      curType:
        type: string
        description: The CUR type for AWS payers. Valid values are `legacy` and `2.0` (from payer.metadata).
    description: Extended payer account information with additional metadata.
  v1TotalDetailSection:
    type: object
    properties:
      totalCost:
        type: number
        format: double
        description: Cost(True unblended or Unblended) used for invoicing.
      sppDiscount:
        type: number
        format: double
        description: The spp discount cost.
      thirdProfitItem:
        type: number
        format: double
        description: The third profit item cost.
      trueUnblendedProfitRi:
        type: number
        format: double
        description: The profit from RI (True Unblended).
      trueUnblendedProfitSp:
        type: number
        format: double
        description: The profit from SP (True Unblended).
    description: TotalDetailSection resource definition.
  v1CostAttributeItem:
    type: object
    properties:
      aws:
        $ref: '#/definitions/apiAwsCostAttribute'
      azure:
        $ref: '#/definitions/apiAzureCostAttribute'
    description: Response message for the Cost.ReadCostAttributes rpc.
  apiMonthToDateCostForecast:
    type: object
    properties:
      date:
        type: string
      costPrev:
        type: number
        format: double
      costAccumulated:
        type: number
        format: double
      costForecast:
        type: number
        format: double
      upperBound:
        type: number
        format: double
      lowerBound:
        type: number
        format: double
  CostUpdateCostFiltersBody:
    type: object
    properties:
      filterName:
        type: string
        title: Required. Filter Name. Specify characters between 1 ~ 100
      groupId:
        type: string
        description: 'Required. If set, reads the usage-based cost details of this group. Only valid for Ripple users. Implied as the parent billing group for Wave(Pro) users.


          For AWS Ripple, only billing internal ids are supported at the moment. Overriden when `accountId` is set to anything other than `*`. Set this and `accountId` to `*` to read the usage-based cost details of the whole organization. Optional for AWS Wave(Pro).'
      accountId:
        type: string
        description: 'Required. You can set it to a single account or a comma-separated list of accounts.


          For AWS, setting this will override `groupId`. Set this and `groupId` to `*` to read the usage-based cost details of the whole organization.'
      awsOptions:
        $ref: '#/definitions/v1ReadCostsRequestAwsOptions'
        description: Required. Valid only for the `aws` vendor. AWS-specific options.
    description: Request message for the UpdateCostFilters rpc.
  v1ReadCostAttributesRequestAzureOptions:
    type: object
    properties:
      customerId:
        type: string
        description: Optional. The Azure customer id to which the modifier is applied. A comma-separated list of customers is also valid.
      subscriptionId:
        type: string
        description: Optional. The Azure subscription id to which the modifier is applied. A comma-separated list of subscriptions is also valid.
      entitlementId:
        type: string
        description: Optional. The Azure entitlement id to which the modifier is applied. A comma-separated list of entitlements is also valid.
  v1GetCalculatorConfigResponse:
    type: object
    properties:
      aws:
        $ref: '#/definitions/awsCalculatorConfig'
    description: Response message for the Cost.GetCalculatorConfig rpc.
  CostUpdateAccountBudgetBody:
    type: object
    properties:
      data:
        $ref: '#/definitions/blueapiApiBudget'
    title: Request message for UpdateAccountBudget
  v1ListCalculationsHistoryAwsResponse:
    type: object
    properties:
      operations:
        type: array
        items:
          type: object
          $ref: '#/definitions/protosOperation'
    description: AWS-specific response message for the Cost.ListCalculationsHistory rpc. Should be compatible with the Operations API.
  v1CalculateCostsRequestAwsOptions:
    type: object
    properties:
      force:
        type: boolean
[...]
