swagger: '2.0'
info:
  title: Blue API reference Admin Cover API
  description: 'Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/) for more information.


    You may encounter the following feature maturity indicators:

    - **(WORK-IN-PROGRESS)** - Development is ongoing, don''t use yet;

    - **(BETA)** - New or experimental features, subject to changes; and

    - **(DEPRECATED)** - Outdated or replaced features.


    Some endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.'
  version: v1
host: api.alphaus.cloud
basePath: /m/blue
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Cover
  description: '(BETA) Cover API. Base URL: https://api.alphaus.cloud/m/blue/cover'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/cover/
paths:
  /v1/account:
    post:
      summary: Registers GCP/Azure account.
      operationId: Cover_RegisterDataAccess
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for Register Data Access. For azure and gcp.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1RegisterDataAccessRequest'
      tags:
      - Cover
  /v1/account/all:read:
    post:
      summary: Lists Azure and GCP accounts.
      operationId: Cover_ListDataAccess
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1DataAccess'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1DataAccess
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/account/unregistered:read:
    post:
      summary: Lists unregistered linked accounts
      operationId: Cover_ListUnregisteredAccounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListUnregisteredAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/account/{target}:
    get:
      summary: Gets the current account. For GCP and Azure.
      operationId: Cover_GetDataAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DataAccess'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Required. (Billing ID for GCP / Account ID for Azure)
        in: path
        required: true
        type: string
      - name: vendor
        description: Vendor (GCP/Azure)
        in: query
        required: false
        type: string
      - name: accountType
        description: In the context of fetching account details, specifying the account type is necessary. This is because the target alone might not uniquely identify an account and could result in multiple data points.
        in: query
        required: false
        type: string
      tags:
      - Cover
    delete:
      summary: Deletes GCP or Azure accounts based on the provided request.
      operationId: Cover_DeleteDataAccess
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Required. (Billing ID for GCP / Account ID for Azure)
        in: path
        required: true
        type: string
      - name: vendor
        description: Vendor (GCP/Azure)
        in: query
        required: false
        type: string
      - name: accountType
        description: In the context of fetching account details, specifying the account type is necessary. This is because the target alone might not uniquely identify an account and could result in multiple data points.
        in: query
        required: false
        type: string
      tags:
      - Cover
    put:
      summary: Update GCP/Azure account info
      operationId: Cover_UpdateDataAccess
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Billing Id for GCP, Account Id for Azure
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateDataAccessBody'
      tags:
      - Cover
  /v1/acctaccess/{target}:
    delete:
      summary: Deletes the current account access role attached to this target account. This does not delete the CloudFormation deployment in your account.
      operationId: Cover_DeleteAccountAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteAccountAccessResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Required. The target AWS account to delete.
        in: path
        required: true
        type: string
      - name: vendor
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/ai/costusage:
    post:
      operationId: Cover_GetAICostAndUsage
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAICostAndUsageResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetAICostAndUsageRequest'
      tags:
      - Cover
  /v1/alerts/anomaly:
    post:
      summary: Create Anomaly Alert
      operationId: Cover_CreateAnomalyAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAnomalyAlertRequest'
      tags:
      - Cover
  /v1/alerts/anomaly/all:read:
    post:
      summary: List all the Anomaly Alert Data
      operationId: Cover_ListAnomalyAlert
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AnomalyAlertData'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AnomalyAlertData
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/alerts/anomaly/{id}:
    get:
      summary: Get Anomaly Alert Data
      operationId: Cover_GetAnomalyAlert
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AnomalyAlertData'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete Anomaly Alert
      operationId: Cover_DeleteAnomalyAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update Anomaly Alert
      operationId: Cover_UpdateAnomalyAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateAnomalyAlertBody'
      tags:
      - Cover
  /v1/alerts/cost:
    get:
      summary: Get Alerts under organization
      operationId: Cover_GetAlerts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetAlertsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetAlertsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create Alerts under organization
      operationId: Cover_CreateAlert
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateAlertResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAlertRequest'
      tags:
      - Cover
  /v1/alerts/cost/{id}:
    get:
      summary: Get Specific Alert under organization
      operationId: Cover_GetAlertDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAlertDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete Specific Alert under organization
      operationId: Cover_DeleteAlert
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteAlertResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update Specific Alert under organization
      operationId: Cover_UpdateAlertDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateAlertDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateAlertDetailsBody'
      tags:
      - Cover
  /v1/alerts/expire/discount:
    post:
      summary: Create discount Expiration Alert.
      operationId: Cover_CreateDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateDiscountExpirationAlertRequest'
      tags:
      - Cover
  /v1/alerts/expire/discount/all:read:
    post:
      summary: List all discount Expiration Alert Data
      operationId: Cover_ListDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1DiscountExpiryAlertData'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1DiscountExpiryAlertData
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/alerts/expire/discount/{id}:
    get:
      summary: Get discount Expiration Alert Data
      operationId: Cover_GetDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DiscountExpiryAlertData'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete selected discount Expiration Alert Data
      operationId: Cover_DeleteDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update discount Expiration Alert
      operationId: Cover_UpdateDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateDiscountExpirationAlertBody'
      tags:
      - Cover
  /v1/allocations:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get all available allocation items for the specified cost group'
      operationId: Cover_GetCostGroupAllocation
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AllocationItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AllocationItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the GetCostGroupAllocation rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetCostGroupAllocationRequest'
      tags:
      - Cover
  /v1/allocators:
    get:
      summary: 'WORK-IN-PROGRESS: Lists all the allocators'
      operationId: Cover_ListAllocators
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1CostAllocatorDetails'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1CostAllocatorDetails
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: 'WORK-IN-PROGRESS: Creates cost allocator item'
      operationId: Cover_CreateAllocator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CostAllocatorDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateAllocator rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAllocatorRequest'
      tags:
      - Cover
  /v1/allocators/attribute:
    get:
      summary: Get all available attributes for the charges
      operationId: Cover_GetAllocationAttributes
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAllocationAttributesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: category
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/allocators/source:
    get:
      summary: Get all values of the allocation source
      operationId: Cover_GetAllocationSources
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAllocationSourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: type
        in: query
        required: false
        type: string
      - name: accountId
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/allocators/{id}:
    delete:
      summary: 'WORK-IN-PROGRESS: Deletes a cost allocator'
      operationId: Cover_DeleteAllocator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The id of the allocator to delete.
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Updates a cost allocator item'
      operationId: Cover_UpdateAllocator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CostAllocatorDetails'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateAllocatorBody'
      tags:
      - Cover
  /v1/anomaly:
    post:
      summary: Get the data of a cost group containing anomaly values
      operationId: Cover_GetAnomalyinCostGroup
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AnomalyData'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AnomalyData
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetAnomalyinCostGroupRequest'
      tags:
      - Cover
  /v1/apiaccess/verify:
    get:
      operationId: Cover_VerifyAPIAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1VerifyAPIAccessResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: 'Required: gcp'
        in: query
        required: false
        type: string
      - name: target
        description: 'Required: projectId'
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/assets/summary/{costGroupId}:
    get:
      summary: 'WORK-IN-PROGRESS: Assets summary for costgroup'
      operationId: Cover_GetAssetsSummary
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAssetsSummaryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: startMonth
        description: 'Optional. If not set, current month will be used. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      - name: endMonth
        description: 'Optional. If not set, current month will be used. Format: `yyyymm`.'
        in: query
        required: false
        type: string
      - name: combineDates
        description: Optional. If true, return the assets summary for the requested period. Else, summary per month is returned.
        in: query
        required: false
        type: boolean
      tags:
      - Cover
  /v1/assets:read:
    post:
      summary: 'WORK-IN-PROGRESS: Lists assets for costgroup'
      operationId: Cover_ListAssets
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCoverV1Resource'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCoverV1Resource
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Asset.ListResources rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListAssetsRequest'
      tags:
      - Cover
  /v1/attributes:
    post:
      summary: 'WORK-IN-PROGRESS: Get Cost Group by Attribute Type'
      operationId: Cover_GetCostGroupAttribute
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostGroupAttributeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetCostGroupAttributeRequest'
      tags:
      - Cover
  /v1/aws/acctaccess:
    get:
      summary: Gets a CloudFormation launch URL for enabling the account access.
      operationId: Cover_GetAccountAccessTemplateUrl
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAccountAccessTemplateUrlResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: type
        description: All templates are publicly available from the reponse link (`templateUrl`) if you want to audit the included permissions.
        in: query
        required: false
        type: string
      tags:
      - Cover
    post:
      summary: Starts validation of the account access stack deployment. If successful, the IAM role created from the CloudFormation stack will be registered to the target.
      operationId: Cover_CreateAccountAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AccountAccess'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateAccountAccess rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAccountAccessRequest'
      tags:
      - Cover
  /v1/aws/acctaccess/cur:
    post:
      summary: Starts validation of the account access cur stack deployment. If successful, the IAM role created from the CloudFormation stack will be registered to the target.
      operationId: Cover_CreateAccountAccessCur
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AccountAccess'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateAccountAccess rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAccountAccessRequest'
      tags:
      - Cover
  /v1/aws/acctaccess/stackset:
    post:
      summary: Starts validation of the account access stackset deployment. If successful, the IAM role created from the CloudFormation stackset will be registered to the linked accounts.
      operationId: Cover_CreateAccountAccessStackset
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AccountAccess'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateAccountAccessStackset rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAccountAccessStacksetRequest'
      tags:
      - Cover
  /v1/aws/acctaccess/{target}:
    put:
      summary: Starts an update to an existing account access CloudFormation stack for template changes, if any. Only call this API if the status of your account access is 'outdated'.
      operationId: Cover_UpdateAccountAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Required. The target AWS account to update.
        in: path
        required: true
        type: string
      tags:
      - Cover
  /v1/azure/credentials/mpn:
    post:
      summary: 'WORK-IN-PROGRESS: Adding MpnSetting for Azure'
      operationId: Cover_AddMpnSetting
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddMpnSettingRequest'
      tags:
      - Cover
  /v1/azure/credentials/partnercenter:
    post:
      summary: 'WORK-IN-PROGRESS: PartnerCenterCredentials for Azure'
      operationId: Cover_AddPartnerCenterCredentials
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddPartnerCenterCredentialsRequest'
      tags:
      - Cover
  /v1/billing/status:
    get:
      summary: Get the Customer Subscription status from marketplace
      operationId: Cover_GetCustomerSubscriptionStatus
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCustomerSubscriptionStatusResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/billingacct:
    post:
      summary: Add Billing Account ID for GCP.
      operationId: Cover_AddBillingAccount
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1BillingAccountRequest'
      tags:
      - Cover
  /v1/budget:
    post:
      summary: 'WORK-IN-PROGRESS: Create Budget for specific cost group in an organization'
      operationId: Cover_CreateBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateBudgetRequest'
      tags:
      - Cover
  /v1/budget/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Get specific Budget data for a cost group in an organization'
      operationId: Cover_GetBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: 'WORK-IN-PROGRESS: Delete Budget for specific cost group in an organization'
      operationId: Cover_DeleteBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Update Budget for specific cost group in an organization'
      operationId: Cover_UpdateBudget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateBudgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateBudgetBody'
      tags:
      - Cover
  /v1/budget:read:
    post:
      summary: 'WORK-IN-PROGRESS: List all Budgets in an organization or Budgets under specific cost group'
      operationId: Cover_ListBudgets
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListBudgetsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListBudgetsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListBudgetsRequest'
      tags:
      - Cover
  /v1/categories:
    get:
      summary: Retrieve the categories to be utilized in the creation of the cost group.
      operationId: Cover_GetCategories
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCategoriesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/channels:
    post:
      summary: 'WORK-IN-PROGRESS: Create Channel under organization'
      operationId: Cover_CreateChannel
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateChannelResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateChannelRequest'
      tags:
      - Cover
  /v1/channels/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Get Specific Channel under organization'
      operationId: Cover_GetChannelDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetChannelDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: 'WORK-IN-PROGRESS: Delete Specific Channel under organization'
      operationId: Cover_DeleteChannel
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteChannelResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Update Specific Channel under organization'
      operationId: Cover_UpdateChannelDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateChannelDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateChannelDetailsBody'
      tags:
      - Cover
  /v1/channels:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get Channels under organization'
      operationId: Cover_GetChannels
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetChannelsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetChannelsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetChannelsRequest'
      tags:
      - Cover
  /v1/containers/costusage:
    post:
      operationId: Cover_GetContainerCostUsage
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ContainerCostUsageResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ContainerCostUsageRequest'
      tags:
      - Cover
  /v1/costgroups:
    get:
      summary: Get all the cost groups
      operationId: Cover_GetCostGroups
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostGroupsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create a cost group
      operationId: Cover_CreateCostGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateCostGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateCostGroupRequest'
      tags:
      - Cover
  /v1/costgroups/resolve/{costGroupId}:
    get:
      operationId: Cover_ResolveCostGroupCombinations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ResolveCostGroupCombinationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      tags:
      - Cover
  /v1/costgroups/{costGroupId}:
    get:
      summary: Get the details of the cost group
      operationId: Cover_GetCostGroupDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostGroupDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Deletes a cost group
      operationId: Cover_DeleteCostGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteCostGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/anomaly:
    post:
      summary: Sets Cost group's anomaly options
      operationId: Cover_SetCostGroupAnomalyOptions
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1SetCostGroupAnomalyOptionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverSetCostGroupAnomalyOptionsBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/colortheme:
    put:
      summary: Update cost group's color theme
      operationId: Cover_UpdateCostGroupColorTheme
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupColorThemeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupColorThemeBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/combinations:
    put:
      summary: Update cost group's combinations
      operationId: Cover_UpdateCostGroupCombinations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupCombinationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupCombinationsBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/description:
    put:
      summary: Update cost group's description
      operationId: Cover_UpdateCostGroupDescription
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupDescriptionResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupDescriptionBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/eventIndicator:
    post:
      summary: Sets Cost group's event indicator
      operationId: Cover_SetCostGroupEventIndicator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1SetCostGroupEventIndicatorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverSetCostGroupEventIndicatorBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/icon:
    put:
      summary: Update cost group's icon
      operationId: Cover_UpdateCostGroupIcon
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupIconResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupIconBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/image:
    put:
      summary: Update cost group's image
      operationId: Cover_UpdateCostGroupImage
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupImageResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupImageBody'
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/name:
    put:
      summary: Update cost group's name
      operationId: Cover_UpdateCostGroupName
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupNameResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostGroupNameBody'
      tags:
      - Cover
  /v1/costusage:
    post:
      operationId: Cover_GetCostUsageV2
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetCostUsageV2Response'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetCostUsageV2Response
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetCostUsageV2Request'
      tags:
      - Cover
  /v1/costusage:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get usage and usage-based costs for the specified costgroup'
      operationId: Cover_GetCostUsage
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/blueapiCoverV1CostItem'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of blueapiCoverV1CostItem
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetCostUsageRequest'
      tags:
      - Cover
  /v1/demo/populate:
    post:
      summary: 'WORK-IN-PROGRESS: Populate demo data'
      operationId: Cover_PopulateDemoData
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1PopulateDemoDataResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1PopulateDemoDataRequest'
      tags:
      - Cover
  /v1/demo/reset:
    post:
      summary: 'WORK-IN-PROGRESS: Reset demo data'
      operationId: Cover_ResetDemoData
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ResetDemoDataResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ResetDemoDataRequest'
      tags:
      - Cover
  /v1/forecasts:
    post:
      operationId: Cover_CreateCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateCostForecastRequest'
      tags:
      - Cover
  /v1/forecasts/data:read:
    post:
      operationId: Cover_GetCostForecastsData
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetCostForecastsDataResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetCostForecastsDataResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1GetCostForecastsDataRequest'
      tags:
      - Cover
  /v1/forecasts/{id}:
    get:
      operationId: Cover_GetCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      operationId: Cover_DeleteCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      operationId: Cover_UpdateCostForecast
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostForecastResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateCostForecastBody'
      tags:
      - Cover
  /v1/forecasts:read:
    post:
      operationId: Cover_ListForecasts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListForecastsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListForecastsRequest'
      tags:
      - Cover
  /v1/marketplace/info:
    post:
      summary: Adding orgId to marketplace customers
      operationId: Cover_AddInfotoMarketplace
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AddInfotoMarketplaceResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddInfotoMarketplaceRequest'
      tags:
      - Cover
  /v1/me:
    get:
      summary: Get the details of the logged-in user
      operationId: Cover_GetUserDetails
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetUserDetailsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/me/apptheme:
    put:
      summary: Modify user's app theme
      operationId: Cover_UpdateUserAppTheme
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserAppThemeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserAppThemeRequest'
      tags:
      - Cover
  /v1/me/attributes:
    put:
      summary: Modify attributes
      operationId: Cover_UpdateUserAttributes
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserAttributesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserAttributesRequest'
      tags:
      - Cover
  /v1/me/avatar:
    put:
      summary: Modify user's avatar
      operationId: Cover_UpdateUserAvatar
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserAvatarResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserAvatarRequest'
      tags:
      - Cover
  /v1/me/colortheme:
    put:
      summary: Modify user's color theme
      operationId: Cover_UpdateUserColorTheme
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserColorThemeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserColorThemeRequest'
      tags:
      - Cover
  /v1/me/costgroupcreation:
    put:
      summary: 'WORK-IN-PROGRESS: Set user preference in cost group creation UI'
      operationId: Cover_UpdateCostGroupCreationUI
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateCostGroupCreationUIResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateCostGroupCreationUIRequest'
      tags:
      - Cover
  /v1/me/email:
    put:
      summary: Modify user's email
      operationId: Cover_UpdateUserEmail
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserEmailResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserEmailRequest'
      tags:
      - Cover
  /v1/me/icon:
    put:
      summary: Modify user's icon
      operationId: Cover_UpdateUserIcon
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserIconResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserIconRequest'
      tags:
      - Cover
  /v1/me/locale:
    put:
      summary: Modify user's locale
      operationId: Cover_UpdateUserLocale
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserLocaleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserLocaleRequest'
      tags:
      - Cover
  /v1/me/mainview:
    put:
      summary: Modify user's main view
      operationId: Cover_UpdateUserMainView
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserMainViewResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserMainViewRequest'
      tags:
      - Cover
  /v1/me/name:
    put:
      summary: Modify user's name
      operationId: Cover_UpdateUserName
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserNameResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserNameRequest'
      tags:
      - Cover
  /v1/me/password:
    post:
      summary: Reset user's password
      operationId: Cover_ResetUserPassword
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ResetUserPasswordResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ResetUserPasswordRequest'
      tags:
      - Cover
  /v1/me/roles:
    get:
      summary: Lists the roles and cost groups assigned to the authenticated user.
      operationId: Cover_GetMyRoles
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetMyRolesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/me/timezone:
    put:
      summary: Modify user's timezone
      operationId: Cover_UpdateUserTimezone
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserTimezoneResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateUserTimezoneRequest'
      tags:
      - Cover
  /v1/members/activate:
    post:
      summary: Activate the added user
      operationId: Cover_ActivateUser
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ActivateUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ActivateUserRequest'
      tags:
      - Cover
  /v1/members/auth0:
    post:
      summary: 'WORK-IN-PROGRESS: Add or read user from Auth0'
      operationId: Cover_ProcessAuth0User
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ProcessAuth0UserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ProcessAuth0UserRequest'
      tags:
      - Cover
  /v1/members/aws/subscription:
    post:
      summary: WORK-IN-PROGRESS:Resolve user for aws marketplace subscription integration
      operationId: Cover_ResolveAWSMarketplaceTokenForOnboarding
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ResolveAWSMarketplaceTokenForOnboardingResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ResolveAWSMarketplaceTokenForOnboardingRequest'
      tags:
      - Cover
  /v1/members/onboard:
    post:
      summary: Onboard an organization with an admin account and default cost group
      operationId: Cover_OnboardOrg
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1OnboardOrgResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1OnboardOrgRequest'
      tags:
      - Cover
  /v1/members/profile:
    post:
      summary: Profiling for new users.
      operationId: Cover_CreateProfiling
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateProfilingResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateProfilingRequest'
      tags:
      - Cover
  /v1/members/profile/{email}:
    get:
      summary: Octo getting user profile
      operationId: Cover_GetUserProfile
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetUserProfileResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: email
        description: required email
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update user profile
      operationId: Cover_UpdateUserProfile
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserProfileResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: email
        description: required email
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateUserProfileBody'
      tags:
      - Cover
  /v1/members/register:
    post:
      summary: Octo new user registration
      operationId: Cover_RegisterNewUser
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1RegisterNewUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1RegisterNewUserRequest'
      tags:
      - Cover
  /v1/members/resetpassword:
    post:
      summary: Reset member's password
      operationId: Cover_ResetPassword
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ResetPasswordResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ResetPasswordRequest'
      tags:
      - Cover
  /v1/organizations/currency:
    get:
      summary: Get Org's reference of currency exchange rate
      operationId: Cover_GetOrgUpdateCurrency
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetOrgUpdateCurrencyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Sets Org's reference of currency exchange rate
      operationId: Cover_SetOrgUpdateCurrency
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1SetOrgUpdateCurrencyResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1SetOrgUpdateCurrencyRequest'
      tags:
      - Cover
  /v1/organizations/rates:
    get:
      summary: Get list of exchange rates for a fixed report
      operationId: Cover_ListExchangeRates
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiCoverV1ListExchangeRatesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: startDate
        description: 'Required. Start date Format: "YYYYMMDD"'
        in: query
        required: false
        type: string
      - name: endDate
        description: 'Required. End date Format: "YYYYMMDD"'
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/organizations/transfer/{target}:
    get:
      summary: 'WORK-IN-PROGRESS: Transfer the account from the original organization to Alphaus payer account'
      operationId: Cover_TransferOrganization
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1TransferOrganizationResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: target
        description: Required. The target account to be transferred.
        in: path
        required: true
        type: string
      - name: region
        description: Required. The region of the target account.
        in: query
        required: false
        type: string
      - name: payer
        description: Optional. Alphaus payer account to be used for the transfer.
        in: query
        required: false
        type: string
      - name: orgId
        description: Optional. The org id of the payer account.
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/recommendation/execute:
    post:
      operationId: Cover_ExecuteRecommendationV3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ExecuteRecommendationV3Response'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ExecuteRecommendationV3Request'
      tags:
      - Cover
  /v1/recommendations:
    get:
      operationId: Cover_GetRecommendationV3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetRecommendationV3Response'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: ids
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      tags:
      - Cover
  /v1/recommendations/all:read:
    post:
      summary: Lists recommendations based on specified criteria.
      operationId: Cover_ListRecommendationsV2
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListRecommendationResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListRecommendationResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListRecommendationV2Request'
      tags:
      - Cover
  /v1/recommendations/details/{id}:
    get:
      summary: Retrieves a specific recommendation by its ID. (Version 2)
      operationId: Cover_GetRecommendationV2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetRecommendationV2Response'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: costGroupId
        in: query
        required: false
        type: string
      - name: periodOption
        in: query
        required: false
        type: string
      - name: currency
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/recommendations/summaries:
    post:
      operationId: Cover_ListRecommendationsV3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListRecommendationsV3Response'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListRecommendationsV3Request'
      tags:
      - Cover
  /v1/reports/fiscalmonth:
    get:
      summary: Get Org's starting month/ fiscal month
      operationId: Cover_GetOrgFiscalMonth
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetOrgFiscalMonthResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Sets Org's starting month/ fiscal month
      operationId: Cover_SetOrgFiscalMonth
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1SetOrgFiscalMonthResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1SetOrgFiscalMonthRequest'
      tags:
      - Cover
  /v1/reports/insight/summary/{costGroupId}:
    get:
      summary: Get data for insights reports summary
      operationId: Cover_GetReportSummary
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetReportSummaryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        type: string
      - name: startDate
        description: 'Required. Start date Format: "YYYYMMDD"'
        in: query
        required: false
        type: string
      - name: endDate
        description: 'Required. End date Format: "YYYYMMDD"'
        in: query
        required: false
        type: string
      - name: reportType
        description: 'Required. Report Type. Valid inputs are: "quarterly", "yearly"'
        in: query
        required: false
        type: string
      - name: currency
        description: Optional. If not set, default value is `USD`.
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/reports/rate/nonperforming:read:
    post:
      operationId: Cover_ListNonperformingRate
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListNonperformingRateResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListNonperformingRateRequest'
      tags:
      - Cover
  /v1/reports/resources/untagged:read:
    post:
      operationId: Cover_ListUntaggedResources
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListUntaggedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListUntaggedResourcesRequest'
      tags:
      - Cover
  /v1/unitcost:
    get:
      summary: Lists Unit Types
      operationId: Cover_ListUnitTypes
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListUnitTypesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create Unit Type
      operationId: Cover_CreateUnitType
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateUnitTypeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateUnitTypeRequest'
      tags:
      - Cover
  /v1/unitcost/autosuggest:
    get:
      summary: List Suggested Unit Types
      operationId: Cover_ListSuggestedUnits
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListSuggestedUnitsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/unitcost/autosuggest/create:
    post:
      summary: Create Unit from Suggested Units
      operationId: Cover_CreateUnitFromSuggested
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateUnitFromSuggestedResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateUnitFromSuggestedRequest'
      tags:
      - Cover
  /v1/unitcost/autosuggest/merge:
    post:
      summary: Merge Suggested Units
      operationId: Cover_MergeSuggestedUnits
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1MergeSuggestedUnitsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1MergeSuggestedUnitsRequest'
      tags:
      - Cover
  /v1/unitcost/merge:
    post:
      summary: Merge Existing Unit Types
      operationId: Cover_MergeUnits
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1MergeUnitsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1MergeUnitsRequest'
      tags:
      - Cover
  /v1/unitcost/metrics:
    get:
      summary: List all Unit Metrics
      operationId: Cover_ListUnitMetrics
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListUnitMetricsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: aggregationMethod
        description: Optional. Filter by aggregation method.
        in: query
        required: false
        type: string
      - name: dataSource
        description: Optional. Filter by data source.
        in: query
        required: false
        type: string
      - name: status
        description: Optional. Filter by status.
        in: query
        required: false
        type: string
      tags:
      - Cover
    post:
      summary: Create Unit Metric
      operationId: Cover_CreateUnitMetric
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateUnitMetricResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateUnitMetricRequest'
      tags:
      - Cover
  /v1/unitcost/metrics/cloudwatch/metadata:
    get:
      summary: Get Cloudwatch Metadata
      operationId: Cover_GetCloudwatchMetadata
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetCloudwatchMetadataResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: accountId
        description: Required. The AWS account ID to assume when querying CloudWatch.
        in: query
        required: false
        type: string
      - name: region
        description: Required. The AWS region where the metrics should be queried (e.g., "us-east-1").
        in: query
        required: false
        type: string
      - name: type
        description: 'Required. The type of metadata to retrieve.

          Valid values: "namespace", "metric", or "dimension".'
        in: query
        required: false
        type: string
      - name: namespace
        description: 'Conditionally required.

          Must be provided when `type` is "metric" or "dimension".

          Example: "AWS/EC2", "AWS/Lambda", or a custom namespace like "MyApp/BusinessMetrics".'
        in: query
        required: false
        type: string
      - name: metricName
        description: 'Conditionally required.

          Must be provided when `type` is "dimension".

          Example: "CPUUtilization", "Invocations", etc.'
        in: query
        required: false
        type: string
      tags:
      - Cover
  /v1/unitcost/metrics/googlesheet/confirm:
    post:
      summary: Confirm Google Sheet Access
      operationId: Cover_ConfirmGoogleSheetAccess
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ConfirmGoogleSheetAccessResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ConfirmGoogleSheetAccessRequest'
      tags:
      - Cover
  /v1/unitcost/metrics/googlesheet/preview:
    post:
      summary: Preview Google Sheet Data
      operationId: Cover_PreviewGoogleSheet
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1PreviewGoogleSheetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1PreviewGoogleSheetRequest'
      tags:
      - Cover
  /v1/unitcost/metrics/{id}:
    get:
      summary: Get Specific Unit Metric
      operationId: Cover_GetUnitMetric
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetUnitMetricResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Metric Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete Specific Unit Metric
      operationId: Cover_DeleteUnitMetric
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteUnitMetricResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Metric Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update Specific Unit Metric
      operationId: Cover_UpdateUnitMetric
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUnitMetricResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Metric Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateUnitMetricBody'
      tags:
      - Cover
  /v1/unitcost/sharedresources:
    get:
      summary: List all Shared Resources
      operationId: Cover_ListSharedResources
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListSharedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create Shared Resource
      operationId: Cover_CreateSharedResource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateSharedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateSharedResourcesRequest'
      tags:
      - Cover
  /v1/unitcost/sharedresources/{id}:
    get:
      summary: Get Specific Shared Resource
      operationId: Cover_GetSharedResource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetSharedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Shared Resource Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete Specific Shared Resource
      operationId: Cover_DeleteSharedResource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteSharedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Shared Resource Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update Specific Shared Resource
      operationId: Cover_UpdateSharedResource
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateSharedResourcesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Shared Resource Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateSharedResourceBody'
      tags:
      - Cover
  /v1/unitcost/{id}:
    get:
      summary: Get Specific Unit Type
      operationId: Cover_GetUnitType
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetUnitTypeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Type Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Delete Specific Unit Type
      operationId: Cover_DeleteUnitType
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteUnitTypeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Type Id
        in: path
        required: true
        type: string
      tags:
      - Cover
    put:
      summary: Update Specific Unit Type
      operationId: Cover_UpdateUnitType
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUnitTypeResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Unit Type Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateUnitTypeBody'
      tags:
      - Cover
  /v1/users:
    get:
      summary: Lists all users in the organization
      operationId: Cover_ListUsers
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListUsersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/users/invite:
    post:
      summary: Invites users to join the organization and assigns them roles.
      operationId: Cover_InviteUsers
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1InviteUsersResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1InviteUsersRequest'
      tags:
      - Cover
  /v1/users/{id}:
    get:
      summary: Retrieves a user's details by their ID.
      operationId: Cover_GetUser
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiCoverV1GetUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      tags:
      - Cover
    delete:
      summary: Deletes a user from the organization.
      operationId: Cover_DeleteUser
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      tags:
      - Cover
  /v1/users/{id}/reinvite:
    post:
      summary: Reinvites a user to join the organization. This can be used when the user did not receive or lost the original invitation email.
      operationId: Cover_ReinviteUser
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ReinviteUserResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverReinviteUserBody'
      tags:
      - Cover
  /v1/users/{userId}:
    put:
      summary: Updates a user's role and cost group access.
      operationId: Cover_UpdateUserRole
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateUserRoleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: userId
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateUserRoleBody'
      tags:
      - Cover
  /v1/views:
    get:
      summary: Get all the views
      operationId: Cover_GetViews
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetViewsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create a view
      operationId: Cover_CreateView
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateViewResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateViewRequest'
      tags:
      - Cover
  /v1/views/favorite/add:
    put:
      summary: Add to favorites
      operationId: Cover_AddFavorite
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AddFavoriteResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddFavoriteRequest'
      tags:
      - Cover
  /v1/views/favorite/remove:
    put:
      summary: Remove from favorites
      operationId: Cover_RemoveFavorite
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1RemoveFavoriteResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1RemoveFavoriteRequest'
      tags:
      - Cover
  /v1/views/favorites:
    get:
      summary: Get favorite views
      operationId: Cover_GetFavoriteViews
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetFavoriteViewsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Cover
  /v1/views/layout/{viewId}:
    put:
      summary: Updates the view's layout
      operationId: Cover_UpdateViewLayout
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateViewLayoutResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: viewId
        description: Required. View Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateViewLayoutBody'
      tags:
      - Cover
  /v1/views/layout/{viewId}/{widgetId}:
    put:
      summary: Updates the view's widget
      operationId: Cover_UpdateViewWidget
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateViewWidgetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: viewId
        description: Required. View Id.
        in: path
        required: true
        type: string
      - name: widgetId
        description: Required. Widget Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CoverUpdateViewWidgetBody'
      tags:
      - Cover
  /v1/views/publish:
    post:
      summary: Publish current view
      operationId: Cover_PublishView
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1PublishViewResponse'
        default:
[...]
