swagger: '2.0'
info:
  title: Blue API reference Admin Organization API
  description: 'Alphaus provides an API for interacting with its services. Blue API is a RESTful API that can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers) defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/) for more information.


    You may encounter the following feature maturity indicators:

    - **(WORK-IN-PROGRESS)** - Development is ongoing, don''t use yet;

    - **(BETA)** - New or experimental features, subject to changes; and

    - **(DEPRECATED)** - Outdated or replaced features.


    Some endpoints, especially those that return lists of resources, have streaming responses; newline-separated stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error. Only the last chunk will include an error, if any.'
  version: v1
host: api.alphaus.cloud
basePath: /m/blue
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Organization
  description: '(BETA) Organization API. Base URL: https://api.alphaus.cloud/m/blue'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/org/
paths:
  /org/v1:
    get:
      summary: Gets information about the caller's organization.
      operationId: Organization_GetOrg
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleOrg'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Organization
    delete:
      summary: 'WORK-IN-PROGRESS: Deletes the organization.'
      operationId: Organization_DeleteOrg
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Organization
    post:
      summary: Creates the organization account.
      operationId: Organization_CreateOrg
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/blueapiOrgV1CreateOrgResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Organization.CreateOrg rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/blueapiOrgV1CreateOrgRequest'
      tags:
      - Organization
  /org/v1/metadata:
    put:
      summary: 'WORK-IN-PROGRESS: Updates organization metadata. See [https://alphauslabs.github.io/blueapi/]

        for the list of supported attributes.'
      operationId: Organization_UpdateMetadata
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Organization.UpdateMetadata rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateMetadataRequest'
      tags:
      - Organization
  /org/v1/passwd:
    put:
      summary: Updates the organization password.
      operationId: Organization_UpdatePassword
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Organization.UpdatePassword rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdatePasswordRequest'
      tags:
      - Organization
  /org/v1:sendVerification:
    post:
      summary: 'WORK-IN-PROGRESS: Sends (or resends) the verification email. Only valid for unverified

        organizations. The verification key will be valid for a day.'
      operationId: Organization_SendVerification
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Organization
  /org/v1:verify:
    post:
      summary: 'WORK-IN-PROGRESS: Verifies an organization using the key received from the verification email.

        The verification key is only valid for a day.'
      operationId: Organization_VerifyOrg
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: key
        in: query
        required: false
        type: string
      tags:
      - Organization
definitions:
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  apiRippleOrg:
    type: object
    properties:
      name:
        type: string
        description: The unique name (or id) of the organization.
      email:
        type: string
        description: The registered email of the organization.
      metadata:
        type: object
        additionalProperties:
          type: string
        description: 'The metadata (key/value pair) of the organization. If hierarchy is supported, it will be

          separated by ''/'', such as ''metakey/subkey=value''. See https://alphauslabs.github.io/blueapi/

          for the list of supported attributes.'
    description: Org resource definition.
  v1UpdateMetadataRequest:
    type: object
    properties:
      key:
        type: string
      value:
        type: string
    description: Request message for the Organization.UpdateMetadata rpc.
  v1UpdatePasswordRequest:
    type: object
    properties:
      oldPassword:
        type: string
      newPassword:
        type: string
    description: Request message for the Organization.UpdatePassword rpc.
  blueapiOrgV1CreateOrgResponse:
    type: object
    properties:
      org:
        $ref: '#/definitions/apiRippleOrg'
      password:
        type: string
    description: Response message for the Organization.CreateOrg rpc.
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
      message:
        type: string
        description: 'A developer-facing error message, which should be in English. Any

          user-facing error message should be localized and sent in the

          [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
        description: 'A list of messages that carry the error details.  There is a common set of

          message types for APIs to use.'
    description: 'The `Status` type defines a logical error model that is suitable for

      different programming environments, including REST APIs and RPC APIs. It is

      used by [gRPC](https://github.com/grpc). Each `Status` message contains

      three pieces of data: error code, error message, and error details.


      You can find out more about this error model and how to work with it in the

      [API Design Guide](https://cloud.google.com/apis/design/errors).'
  blueapiOrgV1CreateOrgRequest:
    type: object
    properties:
      email:
        type: string
        title: Required. Organization's email
      description:
        type: string
        title: Required. Organization's description or company name
      password:
        type: string
        description: Optional. User can decide to let the system generates the password.
      name:
        type: string
        title: To be used for onboarding profile
      role:
        type: string
      usage:
        type: string
      intention:
        type: string
      isAuth0Signup:
        type: boolean
      customerId:
        type: string
        title: Optional. Customer Id from AWS marketplace
      locale:
        type: string
        description: Optional. User locale. Default value is en if not supplied.
      auth0UserId:
        type: string
        description: Optional. Auth0 user id for users registering using social login.
    description: Request message for the Organization.CreateOrg rpc.
