swagger: '2.0'
info:
  title: Blue API reference Admin Billing API
  description: 'Alphaus provides an API for interacting with its services. Blue API is a RESTful API that
    can be accessed by an HTTP client such as `curl`, or any HTTP library which is part of most modern
    programming languages. This API reference is autogenerated from [protocol buffers](https://developers.google.com/protocol-buffers)
    defined in this [repository](https://github.com/alphauslabs/blueapi), together with our supported
    [client libraries](https://alphauslabs.github.io/docs/blueapi/client-sdks/). See the official [documentation](https://alphauslabs.github.io/docs/blueapi/overview/)
    for more information.


    You may encounter the following feature maturity indicators:

    - **(WORK-IN-PROGRESS)** - Development is ongoing, don''t use yet;

    - **(BETA)** - New or experimental features, subject to changes; and

    - **(DEPRECATED)** - Outdated or replaced features.


    Some endpoints, especially those that return lists of resources, have streaming responses; newline-separated
    stream of “chunks”. Each chunk is an envelope that can contain either a response message or an error.
    Only the last chunk will include an error, if any.'
  version: v1
host: api.alphaus.cloud
basePath: /m/blue
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Billing
  description: '(BETA) Billing API. Base URL: https://api.alphaus.cloud/m/blue/billing'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/billing/
paths:
  /billing/v1/reseller/announcements/{announcementId}:
    get:
      summary: Gets the announcement list.
      operationId: Billing_GetAnnouncements
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1Announcement'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1Announcement
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: announcementId
        description: Optional. Set empty to return all
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/accessgroups:
    get:
      summary: Lists access group. Only available in Ripple.
      operationId: Billing_ListAccessGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/apiRippleAccessGroup'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of apiRippleAccessGroup
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
    post:
      summary: Registers the access group. Only available in Ripple.
      operationId: Billing_CreateAccessGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleAccessGroup'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateAccessGroup rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAccessGroupRequest'
      tags:
      - Billing
  /v1/accessgroups/{accessGroupId}:
    get:
      summary: 'WORK-IN-PROGRESS: Gets an access group.'
      operationId: Billing_GetAccessGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetAccessGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: accessGroupId
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/accessgroups/{id}:
    delete:
      summary: Deletes the access group. Only available in Ripple.
      operationId: Billing_DeleteAccessGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. access group id.
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Updates the access group. Only available in Ripple.
      operationId: Billing_UpdateAccessGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleAccessGroup'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. access group id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateAccessGroupBody'
      tags:
      - Billing
  /v1/adjustmentconfig/{vendor}:
    get:
      summary: Gets adjustment config
      operationId: Billing_GetAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: includeSPPDiscount
        in: query
        required: false
        type: boolean
      tags:
      - Billing
    delete:
      summary: Deletes adjustment config
      operationId: Billing_DeleteAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: Creates adjustment config
      description: "[ERRORS] \n- InvalidArgument:\n - the AdjustmentConfig is already exists.\n- NotFound:\n\
        \ - the AdjustmentConfig is not found."
      operationId: Billing_CreateAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingCreateAdjustmentConfigBody'
      tags:
      - Billing
    put:
      summary: Updates adjustment config
      operationId: Billing_UpdateAdjustmentConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiAdjustmentConfig'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateAdjustmentConfigBody'
      tags:
      - Billing
  /v1/aws/dailyrunhistory:read:
    post:
      summary: Reads the daily calculation history of all accounts in your billing groups. Only available
        in Ripple.
      operationId: Billing_ListAwsDailyRunHistory
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AwsDailyRunHistory'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AwsDailyRunHistory
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Billing.ListAwsCalculationHistory rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListAwsDailyRunHistoryRequest'
      tags:
      - Billing
  /v1/billinggroup/account:
    post:
      summary: Add a vendor account to a billing group.
      operationId: Billing_AddAccountToBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddAccountToBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroup/customfield:
    post:
      summary: Add  a custom field into a billing group
      operationId: Billing_AddBillingGroupCustomField
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddBillingGroupCustomFieldRequest'
      tags:
      - Billing
  /v1/billinggroup/customfield/{groupId}/{customFieldId}:
    delete:
      summary: Remove a custom field from a billing group
      operationId: Billing_DeleteBillingGroupCustomField
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: Required. Billing group internal Id
        in: path
        required: true
        type: string
      - name: customFieldId
        description: Required. The id of customfield from get customfield
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/billinggroup/customfield:read:
    post:
      summary: Show all the billing groups custom fields
      operationId: Billing_ListBillingGroupCustomField
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListBillingGroupCustomFieldResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListBillingGroupCustomFieldResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListBillingGroupCustomFieldRequest'
      tags:
      - Billing
  /v1/billinggroup/reseller/announcements/{groupId}:
    get:
      summary: Gets the announcement list for billing group
      operationId: Billing_GetBillingGroupAnnouncements
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetBillingGroupAnnouncementsResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetBillingGroupAnnouncementsResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: Optional. Set empty to return all
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/billinggroup/tags:
    post:
      summary: Add Tags to the billing group
      operationId: Billing_AddTagsToBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1AddTagsToBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroup/{id}:
    delete:
      summary: Delete a billing group.
      operationId: Billing_DeleteBillinGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/billinggroup/{id}/{vendor}/supportplan:
    get:
      summary: 'WORK-IN-PROGRESS: Gets the account support plan in billing group. Only available in Ripple.'
      operationId: Billing_GetBillingGroupAccountSupportPlan
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBillingGroupAccountSupportPlanResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal id.
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. At the moment, `aws` is supported.
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: 'WORK-IN-PROGRESS: Updates the account support plan in billing group. Only available in
        Ripple.'
      operationId: Billing_UpdateBillingGroupAccountSupportPlan
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal id.
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. At the moment, `aws` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupAccountSupportPlanBody'
      tags:
      - Billing
  /v1/billinggroup/{id}/{vendor}/untaggedgroups:
    post:
      summary: Sets non-tag group settings for a billing group.
      operationId: Billing_UpdateNonTagGroupToBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group's internal id
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. The vendor (aws, azure, etc)
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateNonTagGroupToBillingGroupBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:additionalCharges:
    put:
      summary: 'WORK-IN-PROGRESS: Update  additonal charges for a billing group'
      operationId: Billing_UpdateBillingGroupAdditionalCharges
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupAdditionalChargesBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:basicInfo:
    put:
      summary: Update billing group basic information
      operationId: Billing_UpdateBillingGroupBasicInformation
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupBasicInformationBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:customFields:
    put:
      summary: 'WORK-IN-PROGRESS: Update billing group custom fields information'
      operationId: Billing_UpdateBillingGroupCustomFields
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupCustomFieldsBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:freeFormat:
    put:
      summary: 'WORK-IN-PROGRESS: Update billing group custom fields information'
      operationId: Billing_UpdateBillingGroupFreeFormat
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupFreeFormatBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:invoiceSettings:
    put:
      summary: 'WORK-IN-PROGRESS: Update invoice settings for a billing group'
      operationId: Billing_UpdateBillingGroupInvoiceSettings
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupInvoiceSettingsBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:resellerCharges:
    put:
      summary: 'WORK-IN-PROGRESS: Update reseller charges for a billing group'
      operationId: Billing_UpdateBillingGroupResellerCharges
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupResellerChargesBody'
      tags:
      - Billing
  /v1/billinggroup/{id}:resources:
    put:
      summary: 'WORK-IN-PROGRESS: Update linked resources for a billing group'
      operationId: Billing_UpdateBillingGroupLinkedResources
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupLinkedResourcesBody'
      tags:
      - Billing
  /v1/billinggroups:
    get:
      summary: Lists all billing groups (streamed).
      operationId: Billing_ListBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/billingV1BillingGroup'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of billingV1BillingGroup
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      - name: vendors
        description: 'Optional. Filter vendor accounts included in BillingGroup. Format: vendors=vendor1,vendor2,vendor3.

          For example, When Aws and Gcp to be filtered vendors=aws,gcp

          If you want to get all vendors, not set parameter.'
        in: query
        required: false
        type: string
      - name: calcType
        description: 'Optional. Filter by calcType. Format: calType=account

          Valid values: account, tag'
        in: query
        required: false
        type: string
      - name: displayCost
        description: 'Optional. Filter by displayCost. Format: displayCost=unblended_cost

          valid values: unblended_cost, true_unblended_cost'
        in: query
        required: false
        type: string
      - name: bgType
        description: 'Optional. For aws only, filter will be ignored for other vendors.

          Valid values: default, imported'
        in: query
        required: false
        type: string
      tags:
      - Billing
    post:
      summary: Registers a billing group.
      operationId: Billing_CreateBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/billingV1BillingGroup'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Billing.CreateBillingGroup rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroups/billingconductor/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Gets all Billing Groups in AWS Billing Conductor(ABC) for specific payer
        id.'
      operationId: Billing_ListAbcBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AbcBillingGroup'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AbcBillingGroup
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. Payer Id.
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/billinggroups/billingconductor/{payerId}/accounts:
    get:
      summary: 'WORK-IN-PROGRESS: Gets all accounts associated to AWS Billing Conductor(ABC) Billing group'
      operationId: Billing_ListAbcBillingGroupAccounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AbcAccount'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AbcAccount
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: payerId
        description: Required. Payer Id.
        in: path
        required: true
        type: string
      - name: billingGroupArn
        description: Required. BillingGroup Id.
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/billinggroups/children:
    post:
      summary: Creates a child billing group under a parent billing group
      operationId: Billing_CreateChildBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateChildBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}:
    get:
      summary: Gets child billing group info
      operationId: Billing_GetChildBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes all child billing group info
      operationId: Billing_DeleteChildBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child billing group's internal Id
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Updates child billing group's basic info
      operationId: Billing_UpdateChildBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateChildBillingGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateChildBillingGroupBody'
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}/invoiceSettings:
    put:
      summary: Updates child billing group's invoice settings
      operationId: Billing_UpdateChildBillingGroupInvoiceSettings
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateChildBillingGroupInvoiceSettingsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateChildBillingGroupInvoiceSettingsBody'
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}/serviceDiscounts:
    get:
      summary: Returns the service discount associated with the billing group id
      operationId: Billing_GetChildBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetChildBillingGroupInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child Billing Group Internal Id
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: Sets the child billing group invoice service discounts. Only available in Ripple.
      operationId: Billing_SetChildBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Internal Id of the child billing group.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetChildBillingGroupInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}/serviceDiscounts/accounts:read:
    get:
      summary: Returns the account's service discounts associated with the child billing group id
      operationId: Billing_ReadChildBillingGroupAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AccountInvoiceServiceDiscounts'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AccountInvoiceServiceDiscounts
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. Child Billing Group Internal Id
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/billinggroups/children/{internalId}/serviceDiscounts/accounts:set:
    post:
      summary: Sets the child billing group's account invoice service discounts. Only available in Ripple.
      operationId: Billing_SetChildBillingGroupAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: internalId
        description: Required. child billing group's internal Id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetChildBillingGroupAccountInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/billinggroups/children:read:
    post:
      summary: Lists child billing groups under a specific filter
      operationId: Billing_ReadChildBillingGroups
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ChildBillingGroup'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ChildBillingGroup
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadChildBillingGroupsRequest'
      tags:
      - Billing
  /v1/billinggroups/exclude-service-settings:
    get:
      summary: List Exclude Service Entries
      operationId: Billing_ListExcludeServices
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListExcludeServicesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: mspId
        description: MSP (Managed Service Provider) ID. Partition key for the exclude service entries.
        in: query
        required: false
        type: string
      - name: vendor
        description: Cloud vendor (e.g., "aws", "gcp"). If empty, returns all vendors for the MSP.
        in: query
        required: false
        type: string
      tags:
      - Billing
    delete:
      summary: Delete Exclude Service Entry
      operationId: Billing_DeleteExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1DeleteExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: mspId
        description: MSP (Managed Service Provider) ID. Partition key for the exclude service entry.
        in: query
        required: false
        type: string
      - name: vendor
        description: Cloud vendor (e.g., "aws", "gcp").
        in: query
        required: false
        type: string
      - name: payerId
        description: Payer/account ID to delete. Use "all" or "*" to apply to all accounts.
        in: query
        required: false
        type: string
      - name: service
        description: Cloud service name (e.g., "EC2", "BigQuery").
        in: query
        required: false
        type: string
      - name: product
        description: Product or SKU code (used for GCP or detailed exclusions).
        in: query
        required: false
        type: string
      tags:
      - Billing
    post:
      summary: Create Exclude Service Entry
      operationId: Billing_CreateExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateExcludeServiceEntryRequest'
      tags:
      - Billing
    put:
      summary: Update Exclude Service Entry
      operationId: Billing_UpdateExcludeServiceEntry
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateExcludeServiceEntryResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateExcludeServiceEntryRequest'
      tags:
      - Billing
  /v1/billinggroups/merged:
    post:
      summary: Registers a billing group with Merged Endpoints. Only available in Ripple. WORK IN PROGRESS
      operationId: Billing_CreateBillingGroupMerged
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/billingV1BillingGroup'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateBillingGroupMerged rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateBillingGroupMergedRequest'
      tags:
      - Billing
  /v1/billinggroups/{billingInternalId}:
    get:
      summary: Gets a billing group.
      operationId: Billing_GetBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBillingGroupResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: billingInternalId
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/billinggroups/{id}/invoicelayoutconfig:
    get:
      summary: WORK-IN-PROGRESS. Gets the billing group invoice layout configs, used for overriding MSP
        level configs.
      operationId: Billing_GetBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBillingGroupInvoiceLayoutConfigResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        type: string
      tags:
      - Billing
    delete:
      summary: WORK-IN-PROGRESS. Unsets the billing group invoice layout config.
      operationId: Billing_DeleteBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: WORK-IN-PROGRESS. Sets the billing group invoice layout configs.
      operationId: Billing_SetBillingGroupInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing group internal id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetBillingGroupInvoiceLayoutConfigBody'
      tags:
      - Billing
  /v1/billinggroups/{id}/invoicetemplate:
    post:
      summary: Creates/Updates a billing group's invoice template. Only available in Ripple.
      operationId: Billing_UpdateBillingGroupInvoiceTemplate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The billing internal ID
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupInvoiceTemplateBody'
      tags:
      - Billing
  /v1/billinggroups:bulkCreate:
    post:
      summary: 'Create billing group in bulk from CSV file.

        Returns a long-running operation. Poll status via the Operations service (GET /ops/v1/{name}).'
      operationId: Billing_BulkCreateBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1BulkCreateBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroups:bulkLinkAccount:
    post:
      summary: 'Link accounts to a billing group in bulk from a CSV file.

        Returns a long-running operation. Poll status via the Operations service (GET /ops/v1/{name}).'
      operationId: Billing_BulkLinkAccount
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1BulkLinkAccountRequest'
      tags:
      - Billing
  /v1/billinggroups:bulkTag:
    post:
      summary: 'Bulk-tag multiple billing groups from a CSV file.

        Supports add, delete, and dry-run modes.

        Returns a long-running operation. Poll status via the Operations service (GET /ops/v1/{name}).'
      operationId: Billing_BulkTagBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/protosOperation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request for BulkTagBillingGroup.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1BulkTagBillingGroupRequest'
      tags:
      - Billing
  /v1/billinggroups:paginated:
    get:
      summary: Lists all billing groups with pagination support.
      operationId: Billing_ListBillingGroupsPaginated
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ListBillingGroupsPaginatedResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      - name: vendors
        description: 'Optional. Filter vendor accounts included in BillingGroup. Format: vendors=vendor1,vendor2,vendor3.

          For example, When Aws and Gcp to be filtered vendors=aws,gcp

          If you want to get all vendors, not set parameter.'
        in: query
        required: false
        type: string
      - name: calcType
        description: 'Optional. Filter by calcType. Format: calType=account

          Valid values: account, tag'
        in: query
        required: false
        type: string
      - name: displayCost
        description: 'Optional. Filter by displayCost. Format: displayCost=unblended_cost

          valid values: unblended_cost, true_unblended_cost'
        in: query
        required: false
        type: string
      - name: bgType
        description: 'Optional. For aws only, filter will be ignored for other vendors.

          Valid values: default, imported'
        in: query
        required: false
        type: string
      - name: companyName
        description: Optional. Filter by company name.
        in: query
        required: false
        type: string
      - name: billingGroupName
        description: Optional. Filter by billing group name.
        in: query
        required: false
        type: string
      - name: billingGroupId
        description: Optional. Filter by billing group id.
        in: query
        required: false
        type: string
      - name: pageSize
        description: Optional. Page size for pagination. Default is 50, maximum is 1000.
        in: query
        required: false
        type: integer
        format: int32
      - name: pageNumber
        description: Optional. Page number for pagination. Starts from 1. Default is 1.
        in: query
        required: false
        type: integer
        format: int32
      tags:
      - Billing
  /v1/credits:
    get:
      summary: Gets the credits
      operationId: Billing_GetCredits
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1Credit'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1Credit
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Billing
  /v1/csvsettings:
    get:
      summary: Gets the csv column settings
      operationId: Billing_GetCsvSettings
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1CsvSetting'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1CsvSetting
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Billing
  /v1/customfield:
    post:
      summary: Creates new customfield
      operationId: Billing_CreateCustomField
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CustomField'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateCustomFieldRequest'
      tags:
      - Billing
  /v1/customfield/{id}:
    delete:
      summary: Deletes the customfield
      operationId: Billing_DeleteCustomField
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Update the `customField` specified id, modifying its key and description
      operationId: Billing_UpdateCustomField
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CustomField'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateCustomFieldBody'
      tags:
      - Billing
  /v1/customfield:read:
    post:
      summary: Returns all registered customfields
      operationId: Billing_ListCustomField
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1CustomField'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1CustomField
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListCustomFieldRequest'
      tags:
      - Billing
  /v1/customizedbillingservices:
    post:
      summary: Creates the customized billing service. Only available in Ripple.
      operationId: Billing_CreateCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Billing.CreateCustomizedBillingService rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateCustomizedBillingServiceRequest'
      tags:
      - Billing
  /v1/customizedbillingservices/billinggroup/{groupId}/{vendor}:
    get:
      summary: Gets the customized billing service in billing group. Only available in Ripple.
      operationId: Billing_GetCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetCustomizedBillingServiceBillingGroupResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetCustomizedBillingServiceBillingGroupResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes the customized billing service in billing group. Only available in Ripple.
      operationId: Billing_DeleteCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: Sets the customized billing service in billing group. Only available in Ripple.
      operationId: Billing_SetCustomizedBillingServiceBillingGroup
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: Required. billing internal id in billing group.
        in: path
        required: true
        type: string
      - name: vendor
        description: Required. At the moment, `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetCustomizedBillingServiceBillingGroupBody'
      tags:
      - Billing
  /v1/customizedbillingservices/{id}:
    get:
      summary: Gets the customized billing service. Only available in Ripple.
      operationId: Billing_GetCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes the customized billing service. Only available in Ripple.
      operationId: Billing_DeleteCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Updates the customized billing service by updating the fields specified in the update mask.
        Only available in Ripple.
      operationId: Billing_UpdateCustomizedBillingService
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleCustomizedBillingService'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.CustomizedBillingService.id]
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateCustomizedBillingServiceBody'
      tags:
      - Billing
  /v1/customizedbillingservices:read:
    post:
      summary: Reads the customized billing service. Only available in Ripple.
      operationId: Billing_ReadCustomizedBillingServices
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/rippleCustomizedBillingService'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of rippleCustomizedBillingService
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Billing.ReadCustomizedBillingServices rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadCustomizedBillingServicesRequest'
      tags:
      - Billing
  /v1/exchangerate/billinggroup/{month}:
    post:
      summary: Set billing group exchangerate. Only available in Ripple.
      operationId: Billing_SetBillingGroupExchangeRate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetBillingGroupExchangeRateBody'
      tags:
      - Billing
  /v1/exchangerate/global/{vendor}/{month}:
    post:
      summary: Set global exchangerate. Only available in Ripple.
      operationId: Billing_SetGlobalExchangeRate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. vendor.
        in: path
        required: true
        type: string
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetGlobalExchangeRateBody'
      tags:
      - Billing
  /v1/exchangerate/payer/{month}:
    post:
      summary: Set payer exchangerate. Only available in Ripple.
      operationId: Billing_SetPayerExchangeRate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: month
        description: 'Required. month. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSetPayerExchangeRateBody'
      tags:
      - Billing
  /v1/exportcsv/billing-group:
    get:
      summary: Export the billing groups into csv format
      operationId: Billing_ExportBillingGroupCsv
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ExportBillingGroupCsvResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: language
        description: "Usually the language of the user information is used, \nbut it may be a different\
          \ language due to cahce.\nIn that case, you can use this option to change the language of CSV."
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/exportcsv/invoice-setting:
    get:
      summary: Exports the invoice settings into csv format
      operationId: Billing_ExportInvoiceSettingCsv
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ExportInvoiceSettingCsvResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: language
        description: "Usually the language of the user information is used, \nbut it may be a different\
          \ language due to cahce.\nIn that case, you can use this option to change the language of CSV."
        in: query
        required: false
        type: string
      - name: includeMiscellaneous
        description: Optional. If true, include miscellaneous items in the settings export.
        in: query
        required: false
        type: boolean
      tags:
      - Billing
  /v1/freeformat:
    post:
      summary: Creates new billing group free format item (miscellaneous)
      operationId: Billing_CreateFreeFormat
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateFreeFormatRequest'
      tags:
      - Billing
  /v1/freeformat/{groupId}:
    get:
      summary: Get billing group free format item (miscellaneous)
      operationId: Billing_GetFreeFormat
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1GetFreeFormatResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1GetFreeFormatResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: set empty to get all the freeformat of the MSP
        in: path
        required: true
        type: string
      - name: isAssociated
        description: 'this setting is ignored if groupId is not empty

          set true to return only the free format associated to a BG'
        in: query
        required: false
        type: boolean
      tags:
      - Billing
    delete:
      summary: Delete billing group free format item (miscellaneous)
      operationId: Billing_DeleteFreeFormat
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        in: path
        required: true
        type: string
      - name: vendor
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/invoice/displaysettings:
    get:
      summary: 'WORK-IN-PROGRESS: Gets the invoice display settings for invoice-ui'
      operationId: Billing_GetInvoiceDisplaySettings
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetInvoiceDisplaySettingsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Billing
    post:
      summary: Creates/Updates an invoice display settings. Only available in Ripple.
      operationId: Billing_UpdateInvoiceDisplaySettings
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for UpdateInvoiceDisplaySettings rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateInvoiceDisplaySettingsRequest'
      tags:
      - Billing
  /v1/invoice/exchangerate/{month}:
    put:
      summary: Update invoice exchangerate for the month
      operationId: Billing_UpdateInvoiceExchangeRate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: month
        description: 'Required. Format: yyyymm.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateInvoiceExchangeRateBody'
      tags:
      - Billing
  /v1/invoice/status/{date}:read:
    post:
      summary: Reads an invoice status. Only available in Ripple.
      operationId: Billing_ListInvoiceStatus
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/apiInvoiceMessage'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of apiInvoiceMessage
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice status. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingListInvoiceStatusBody'
      tags:
      - Billing
  /v1/invoice/status/{id}:
    get:
      summary: Gets an invoice. Only available in Ripple.
      operationId: Billing_GetInvoiceStatus
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. invoice generate request id.
        in: path
        required: true
        type: string
      tags:
      - Billing
  /v1/invoice/template:
    get:
      summary: Lists Invoice Template. Only available in Ripple.
      operationId: Billing_ListInvoiceTemplate
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListInvoiceTemplateResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListInvoiceTemplateResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      tags:
      - Billing
  /v1/invoice/{date}:converttopdf:
    post:
      summary: 'WORK-IN-PROGRESS: Convert invoice to pdf'
      operationId: Billing_ConvertInvoiceToPdf
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ConvertInvoiceToPdfResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Format: yyyymm.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingConvertInvoiceToPdfBody'
      tags:
      - Billing
  /v1/invoice/{date}:create:
    post:
      summary: Creates an invoice. Only available in Ripple.
      operationId: Billing_CreateInvoice
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingCreateInvoiceBody'
      tags:
      - Billing
  /v1/invoice/{date}:create&savesettings:
    post:
      summary: Creates an invoice and add settings. Only available in Ripple.
      operationId: Billing_CreateInvoiceWithSettings
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiInvoiceMessage'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Invoice month. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingCreateInvoiceWithSettingsBody'
      tags:
      - Billing
  /v1/invoice/{date}:export:
    post:
      summary: Exports an invoice.
      operationId: Billing_ExportInvoiceFile
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1ExportInvoiceFileResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingExportInvoiceFileBody'
      tags:
      - Billing
  /v1/invoice/{date}:preview:
    put:
      summary: Updates an invoice preview. Only available in Ripple.
      operationId: Billing_UpdateInvoicePreviews
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateInvoicePreviewsBody'
      tags:
      - Billing
  /v1/invoice/{date}:read:
    post:
      summary: Gets an invoice.
      operationId: Billing_GetInvoice
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiInvoice'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Month to get invoice. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingGetInvoiceBody'
      tags:
      - Billing
  /v1/invoice/{date}:savesettings:
    post:
      summary: 'WORK-IN-PROGRESS: Save invoice settings for the month'
      operationId: Billing_SaveInvoiceSettings
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: date
        description: 'Required. Invoice month. Format: `yyyymm`.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingSaveInvoiceSettingsBody'
      tags:
      - Billing
  /v1/invoice:read:
    post:
      summary: Reads list of the invoice.
      operationId: Billing_ListInvoice
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ListInvoiceResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ListInvoiceResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ListInvoice rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ListInvoiceRequest'
      tags:
      - Billing
  /v1/invoicelayoutconfig:
    post:
      summary: WORK-IN-PROGRESS. Creates an invoice layout config.
      operationId: Billing_CreateInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateInvoiceLayoutConfigResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateInvoiceLayoutConfigRequest'
      tags:
      - Billing
  /v1/invoicelayoutconfig/{id}:
    delete:
      summary: WORK-IN-PROGRESS. Delete an invoice layout config.
      operationId: Billing_DeleteInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The invoice layout config id.
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: WORK-IN-PROGRESS. Updates an invoice layout config.
      operationId: Billing_UpdateInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. The layout id to be updated
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateInvoiceLayoutConfigBody'
      tags:
      - Billing
  /v1/invoicelayoutconfig:read:
    post:
      summary: WORK-IN-PROGRESS. Reads all invoice layout config under an msp.
      operationId: Billing_ReadInvoiceLayoutConfig
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ReadInvoiceLayoutConfigResponse'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ReadInvoiceLayoutConfigResponse
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ReadInvoiceLayoutConfigRequest'
      tags:
      - Billing
  /v1/reseller/announcement:
    post:
      summary: Creates new announcement for wave users
      operationId: Billing_CreateAnnouncement
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateAnnouncementRequest'
      tags:
      - Billing
  /v1/reseller/announcement/{announcementId}:
    delete:
      operationId: Billing_DeleteAnnouncement
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: announcementId
        description: Required
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Full update existing announcement
      operationId: Billing_UpdateAnnouncement
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: announcementId
        description: Required
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateAnnouncementBody'
      tags:
      - Billing
  /v1/reseller/announcements/bulk/status:
    patch:
      summary: Update multiple announcements status
      operationId: Billing_UpdateAnnouncementsStatus
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1UpdateAnnouncementsStatusRequest'
      tags:
      - Billing
  /v1/reseller/announcements/{announcementId}/date:
    patch:
      summary: Update announcement date
      operationId: Billing_UpdateAnnouncementDate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: announcementId
        in: path
        required: true
        type: array
        items:
          type: string
        collectionFormat: csv
        minItems: 1
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateAnnouncementDateBody'
      tags:
      - Billing
  /v1/resellers:
    get:
      summary: ListResellers
      description: '**Lists all the reseller accounts.**

        > **Only available in Ripple.**'
      operationId: Billing_ListResellers
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/rippleReseller'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of rippleReseller
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
    post:
      summary: Registers the reseller account. Only available in Ripple.
      operationId: Billing_CreateReseller
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleReseller'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the CreateReseller rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateResellerRequest'
      tags:
      - Billing
  /v1/resellers/{id}:
    get:
      summary: Gets the reseller account. Only available in Ripple.
      operationId: Billing_GetReseller
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleReseller'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. reseller id.
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes the reseller account. Only available in Ripple.
      operationId: Billing_DeleteReseller
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. reseller id.
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Updates the reseller account. Only available in Ripple.
      operationId: Billing_UpdateReseller
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/rippleReseller'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. reseller id.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateResellerBody'
      tags:
      - Billing
  /v1/resources/accounts/{vendor}:
    get:
      summary: 'WORK-IN-PROGRESS: Returns all registered accounts that are not associated to any billing
        groups and accounts found in CUR for the specified month. For Ripple only'
      operationId: Billing_ListAccountResources
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1ResourceAccount'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1ResourceAccount
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: vendor
        description: Required. At the moment, only `aws`,`azure`,`gcp` is supported.
        in: path
        required: true
        type: string
      - name: month
        description: Optional. The UTC month to query. If empty, defaults to current month. Format is
          `yyyymm`.
        in: query
        required: false
        type: string
      tags:
      - Billing
  /v1/servicediscounts:
    post:
      summary: Creates the invoice service discounts. Only available in Ripple.
      operationId: Billing_CreateInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleV1InvoiceServiceDiscounts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the Billing.CreateInvoiceServiceDiscounts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1CreateInvoiceServiceDiscountsRequest'
      tags:
      - Billing
  /v1/servicediscounts/account:export:
    post:
      summary: Exports service discounts for account in billing group. Only available in Ripple.
      operationId: Billing_ExportAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1AccountServiceDiscountsExport'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ExportAccountInvoiceServiceDiscounts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ExportAccountInvoiceServiceDiscountsRequest'
      tags:
      - Billing
  /v1/servicediscounts/billinggroup:export:
    post:
      summary: Exports service discounts for billing group. Only available in Ripple.
      operationId: Billing_ExportBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GroupServiceDiscountsExport'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: body
        description: Request message for the ExportBillingGroupInvoiceServiceDiscounts rpc.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v1ExportBillingGroupInvoiceServiceDiscountsRequest'
      tags:
      - Billing
  /v1/servicediscounts/{groupId}/account:
    delete:
      summary: Deletes the account invoice service discounts. Only available in Ripple.
      operationId: Billing_DeleteAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: Registers the account invoice service discounts. Only available in Ripple.
      operationId: Billing_CreateAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateAccountInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingCreateAccountInvoiceServiceDiscountsBody'
      tags:
      - Billing
    put:
      summary: Updates the account invoice service discounts. Only available in Ripple.
      operationId: Billing_UpdateAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateAccountInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateAccountInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/servicediscounts/{groupId}/account:read:
    post:
      summary: Reads the account invoice service discounts. Only available in Ripple.
      operationId: Billing_ListAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v1AccountInvoiceServiceDiscounts'
              error:
                $ref: '#/definitions/rpcStatus'
            title: Stream result of v1AccountInvoiceServiceDiscounts
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingListAccountInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/servicediscounts/{groupId}/account:remove:
    put:
      summary: Removes the account invoice service discounts. Only available in Ripple.
      operationId: Billing_RemoveAccountInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingRemoveAccountInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/servicediscounts/{groupId}/billinggroup:
    get:
      summary: Returns the service discount associated with the billing group id
      operationId: Billing_GetBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1GetBillingGroupInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        in: path
        required: true
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes the billing group invoice service discounts. Only available in Ripple.
      operationId: Billing_DeleteBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      tags:
      - Billing
    post:
      summary: Registers the billing group invoice service discounts. Only available in Ripple.
      operationId: Billing_CreateBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1CreateBillingGroupInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingCreateBillingGroupInvoiceServiceDiscountsBody'
      tags:
      - Billing
    put:
      summary: Updates the billing group invoice service discounts. Only available in Ripple.
      operationId: Billing_UpdateBillingGroupInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v1UpdateBillingGroupInvoiceServiceDiscountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: groupId
        description: 'Required.


          For Ripple, only billing internal ids are supported at the moment. You can set it to a single
          group


          Implied as the parent billing group for Wave(Pro) users.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/BillingUpdateBillingGroupInvoiceServiceDiscountsBody'
      tags:
      - Billing
  /v1/servicediscounts/{id}:
    get:
      summary: Gets the invoice service discounts. Only available in Ripple.
      operationId: Billing_GetInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleV1InvoiceServiceDiscounts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.v1.InvoiceServiceDiscounts.id].
        in: path
        required: true
        type: string
      - name: fieldMask
        description: 'Optional. Get only the value that set fieldMask.


          see more info: https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/field_mask.proto'
        in: query
        required: false
        type: string
      tags:
      - Billing
    delete:
      summary: Deletes the invoice service discounts. Only available in Ripple.
      operationId: Billing_DeleteInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.v1.InvoiceServiceDiscounts.id]
        in: path
        required: true
        type: string
      tags:
      - Billing
    put:
      summary: Updates the invoice service discounts. Only available in Ripple.
      operationId: Billing_UpdateInvoiceServiceDiscounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/apiRippleV1InvoiceServiceDiscounts'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
      - name: id
        description: Required. [blueapi.api.ripple.v1.InvoiceServiceDiscounts.id]
        in: path
        required: true
[...]
