openapi: 3.2.0
info:
  title: Blue API reference Prism API
  description: Alphaus provides an API for interacting with its services.
  version: v1
servers:
- url: https://api.alphaus.cloud/m/blue
tags:
- name: Prism
  description: '(Alpha) Prism API. Base URL: https://api.alphaus.cloud/m/blue/prism'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/prism/
paths:
  /v1/activity/all:read:
    post:
      operationId: Prism_ListActivities
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Activity'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Activity
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListActivitiesRequest'
        required: true
      summary: Prism list activities
      x-summary-source: derived
  /v1/gdrive/share:
    post:
      operationId: Prism_ShareGDrive
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ShareGDriveRequest'
        required: true
      summary: Prism share GDrive
      x-summary-source: derived
  /v1/integration/status:
    get:
      operationId: Prism_GetIntegrationStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetIntegrationStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      summary: Prism get integration status
      x-summary-source: derived
  /v1/integration/status/all:read:
    post:
      operationId: Prism_ListIntegrationStatus
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1IntegrationStatus'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1IntegrationStatus
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListIntegrationStatusRequest'
        required: true
      summary: Prism list integration status
      x-summary-source: derived
  /v1/member/all:read:
    post:
      operationId: Prism_ListTeamMembers
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Member'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Member
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListTeamMembersRequest'
        required: true
      summary: Prism list team members
      x-summary-source: derived
  /v1/org:
    post:
      summary: Creates a new organization
      operationId: Prism_CreateOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateOrganizationRequest'
        required: true
  /v1/org/code:
    post:
      operationId: Prism_GenerateOrganizationCode
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GenerateOrganizationCodeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GenerateOrganizationCodeRequest'
        required: true
      summary: Prism generate organization code
      x-summary-source: derived
  /v1/org/join:
    post:
      operationId: Prism_JoinOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1JoinOrganizationRequest'
        required: true
      summary: Prism join organization
      x-summary-source: derived
  /v1/org/{id}:
    get:
      summary: Gets information about an organization by ID
      operationId: Prism_GetOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrganizationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required organization ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
    delete:
      operationId: Prism_DeleteOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required organization ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      summary: Prism delete organization
      x-summary-source: derived
    put:
      operationId: Prism_UpdateOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required organization ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrismUpdateOrganizationBody'
        required: true
      summary: Prism update organization
      x-summary-source: derived
  /v1/org/{id}/timezone:
    put:
      operationId: Prism_UpdateOrgTimezone
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required organization ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrismUpdateOrgTimezoneBody'
        required: true
      summary: Prism update org timezone
      x-summary-source: derived
  /v1/product:
    post:
      operationId: Prism_CreateProduct
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateProductRequest'
        required: true
      summary: Prism create product
      x-summary-source: derived
  /v1/product/all:read:
    post:
      operationId: Prism_ListProducts
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Product'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Product
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListProductsRequest'
        required: true
      summary: Prism list products
      x-summary-source: derived
  /v1/product/{id}:
    delete:
      operationId: Prism_DeleteProduct
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required product ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      summary: Prism delete product
      x-summary-source: derived
  /v1/project:
    post:
      summary: 'WIP: Creates a new project'
      operationId: Prism_CreateProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateProjectRequest'
        required: true
  /v1/project/all:read:
    post:
      summary: 'WIP: Lists all projects'
      operationId: Prism_ListProjects
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Project'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Project
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListProjectsRequest'
        required: true
  /v1/project/{id}:
    get:
      summary: 'WIP: Gets information about a project by ID'
      operationId: Prism_GetProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetProjectResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required project ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
    delete:
      summary: 'WIP: Deletes a project by ID'
      operationId: Prism_DeleteProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required project ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
  /v1/projecttoteam/all:read:
    post:
      operationId: Prism_ListProjectToTeam
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListProjectToTeamResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListProjectToTeamResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListProjectToTeamRequest'
        required: true
      summary: Prism list project to team
      x-summary-source: derived
  /v1/projecttoteam/assign:
    post:
      operationId: Prism_AssignProjectToTeam
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AssignProjectToTeamResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AssignProjectToTeamRequest'
        required: true
      summary: Prism assign project to team
      x-summary-source: derived
  /v1/reportschedule:
    post:
      operationId: Prism_CreateReportSchedule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ReportSchedule'
        required: true
      summary: Prism create report schedule
      x-summary-source: derived
  /v1/reportschedule/all:read:
    post:
      operationId: Prism_ListReportSchedules
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ReportSchedule'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ReportSchedule
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListReportSchedulesRequest'
        required: true
      summary: Prism list report schedules
      x-summary-source: derived
  /v1/reportschedule/{id}:
    put:
      operationId: Prism_UpdateReportSchedule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrismUpdateReportScheduleBody'
        required: true
      summary: Prism update report schedule
      x-summary-source: derived
  /v1/team:
    post:
      operationId: Prism_CreateTeam
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateTeamRequest'
        required: true
      summary: Prism create team
      x-summary-source: derived
  /v1/team/all:read:
    post:
      operationId: Prism_ListTeams
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Team'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Team
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListTeamsRequest'
        required: true
      summary: Prism list teams
      x-summary-source: derived
  /v1/team/{id}:
    get:
      operationId: Prism_GetTeam
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetTeamResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required team ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      summary: Prism get team
      x-summary-source: derived
    delete:
      operationId: Prism_DeleteTeam
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required team ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      summary: Prism delete team
      x-summary-source: derived
  /v1/test:
    get:
      summary: Test endpoint only
      operationId: Prism_Test
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blueapiPrismV1TestResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
  /v1/verify:
    post:
      operationId: Prism_VerifyUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VerifyUserResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1VerifyUserRequest'
        required: true
      summary: Prism verify user
      x-summary-source: derived
  /v1/workflow/all:read:
    post:
      operationId: Prism_ListWorkflows
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1Workflow'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1Workflow
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListWorkflowsRequest'
        required: true
      summary: Prism list workflows
      x-summary-source: derived
  /v1/workflow/{name}:
    put:
      operationId: Prism_UpdateWorkflow
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: name
        description: Required workflow name.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Prism
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrismUpdateWorkflowBody'
        required: true
      summary: Prism update workflow
      x-summary-source: derived
components:
  schemas:
    v1ListIntegrationStatusRequest:
      type: object
    v1ListTeamMembersRequest:
      type: object
    v1Project:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
        email:
          type: string
    v1AssignProjectToTeamRequest:
      type: object
      properties:
        createNew:
          type: boolean
          description: Indicates whether a new project was created as part of the assignment.
        projectEmail:
          type: string
          description: Should not be empty if create_new is true.
        projectName:
          type: string
          description: Should not be empty if create_new is true.
        teamId:
          type: string
        projectIds:
          type: string
          description: Required. Comma-separated list of project IDs to assign to the team.
    v1AssignProjectToTeamResponse:
      type: object
      properties:
        teamId:
          type: string
        teamName:
          type: string
        projectIds:
          type: string
          description: Comma-separated list of project IDs that were assigned.
        projectNames:
          type: string
          description: Comma-separated list of project names that were assigned.
    v1ListProjectsRequest:
      type: object
    v1GetProjectResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    v1GetIntegrationStatusResponse:
      type: object
      properties:
        status:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v1IntegrationStatus'
    v1ShareGDriveRequest:
      type: object
      properties:
        drivePath:
          type: string
    v1ListReportSchedulesRequest:
      type: object
    v1CreateProjectRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
    v1VerifyUserResponse:
      type: object
      properties:
        email:
          type: string
        org:
          type: string
        isOwner:
          type: boolean
    v1CreateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        domains:
          type: array
          items:
            type: string
          description: List of domains associated with the organization.
        timezone:
          type: string
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of [google.rpc.Code][google.rpc.Code].
        message:
          type: string
          description: 'A developer-facing error message, which should be in English. Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized by the client.'
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
          description: 'A list of messages that carry the error details.  There is a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    v1ReportSchedule:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        schedule:
          type: string
        status:
          type: string
          title: 'Supported values: "on", "off"'
        scheduleCron:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
        workflowId:
          type: string
    v1CreateTeamRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
    v1GenerateOrganizationCodeResponse:
      type: object
      properties:
        code:
          type: string
    PrismUpdateWorkflowBody:
      type: object
      properties:
        status:
          type: string
          description: Allowed values are "on" and "off".
    v1ListProductsRequest:
      type: object
    v1Workflow:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          description: Allowed values are "on" and "off".
    v1GenerateOrganizationCodeRequest:
      type: object
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    PrismUpdateOrgTimezoneBody:
      type: object
      properties:
        timezone:
          type: string
          description: Timezone in IANA format, e.g., "Asia/Kuala_Lumpur".
    PrismUpdateReportScheduleBody:
      type: object
      properties:
        name:
          type: string
        schedule:
          type: string
        status:
          type: string
          title: 'Supported values: "on", "off"'
        scheduleCron:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
        workflowId:
          type: string
    v1ListTeamsRequest:
      type: object
    v1JoinOrganizationRequest:
      type: object
      properties:
        code:
          type: string
          description: Required.
        email:
          type: string
          description: Required user email.
        name:
          type: string
          description: Optional user name.
        social:
          type: string
          title: Optional "google", "github"
    v1Member:
      type: object
      properties:
        org:
          type: string
        team:
          type: string
        id:
          type: string
        email:
          type: string
        name:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
    v1CreateProductRequest:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
    v1Product:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
    v1ListProjectToTeamResponse:
      type: object
      properties:
        projectId:
          type: string
        projectName:
          type: string
        teamId:
          type: string
        teamName:
          type: string
    v1Team:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        org:
          type: string
        createdAt:
          type: string
        lastUpdate:
          type: string
        email:
          type: string
    v1GetOrganizationResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        timezone:
          type: string
    PrismUpdateOrganizationBody:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
    v1GetTeamResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    v1ListProjectToTeamRequest:
      type: object
    v1ListActivitiesRequest:
      type: object
    blueapiPrismV1TestResponse:
      type: object
      properties:
        response:
          type: string
    v1Activity:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        createdAt:
          type: string
    v1IntegrationStatus:
      type: object
      properties:
        type:
          type: string
          title: '"github", "slack"'
        status:
          type: string
          title: '"on", "off"'
        id:
          type: string
        teamName:
          type: string
        lastUpdate:
          type: string
    v1VerifyUserRequest:
      type: object
    v1ListWorkflowsRequest:
      type: object
