openapi: 3.2.0
info:
  title: Blue API reference Cover API
  description: Alphaus provides an API for interacting with its services.
  version: v1
servers:
- url: https://api.alphaus.cloud/m/blue
tags:
- name: Cover
  description: '(BETA) Cover API. Base URL: https://api.alphaus.cloud/m/blue/cover'
  externalDocs:
    description: Service definition
    url: https://github.com/alphauslabs/blueapi/tree/main/cover/
paths:
  /v1/account:
    post:
      summary: Registers GCP/Azure account
      operationId: Cover_RegisterDataAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1RegisterDataAccessRequest'
        description: Request message for Register Data Access. For azure and gcp.
        required: true
  /v1/account/all:read:
    post:
      summary: Lists Azure and GCP accounts
      operationId: Cover_ListDataAccess
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1DataAccess'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1DataAccess
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/account/unregistered:read:
    post:
      summary: Lists unregistered linked accounts
      operationId: Cover_ListUnregisteredAccounts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListUnregisteredAccountsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/account/{target}:
    get:
      summary: Gets the current account. For GCP and Azure
      operationId: Cover_GetDataAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DataAccess'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Required. (Billing ID for GCP / Account ID for Azure)
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Vendor (GCP/Azure)
        in: query
        required: false
        schema:
          type: string
      - name: accountType
        description: In the context of fetching account details, specifying the account type is necessary. This is because the target alone might not uniquely identify an account and could result in multiple data points.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: Deletes GCP or Azure accounts based on the provided request
      operationId: Cover_DeleteDataAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Required. (Billing ID for GCP / Account ID for Azure)
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        description: Vendor (GCP/Azure)
        in: query
        required: false
        schema:
          type: string
      - name: accountType
        description: In the context of fetching account details, specifying the account type is necessary. This is because the target alone might not uniquely identify an account and could result in multiple data points.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: Update GCP/Azure account info
      operationId: Cover_UpdateDataAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Billing Id for GCP, Account Id for Azure
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateDataAccessBody'
        required: true
  /v1/acctaccess/{target}:
    delete:
      summary: Deletes the current account access role attached to this target account.
      operationId: Cover_DeleteAccountAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteAccountAccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Required. The target AWS account to delete.
        in: path
        required: true
        schema:
          type: string
      - name: vendor
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/ai/costusage:
    post:
      operationId: Cover_GetAICostAndUsage
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAICostAndUsageResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAICostAndUsageRequest'
        required: true
      summary: Cover get AI cost and usage
      x-summary-source: derived
  /v1/alerts/anomaly:
    post:
      summary: Create Anomaly Alert
      operationId: Cover_CreateAnomalyAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAnomalyAlertRequest'
        required: true
  /v1/alerts/anomaly/all:read:
    post:
      summary: List all the Anomaly Alert Data
      operationId: Cover_ListAnomalyAlert
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AnomalyAlertData'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AnomalyAlertData
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/alerts/anomaly/{id}:
    get:
      summary: Get Anomaly Alert Data
      operationId: Cover_GetAnomalyAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AnomalyAlertData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: Delete Anomaly Alert
      operationId: Cover_DeleteAnomalyAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: Update Anomaly Alert
      operationId: Cover_UpdateAnomalyAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateAnomalyAlertBody'
        required: true
  /v1/alerts/cost:
    get:
      summary: Get Alerts under organization
      operationId: Cover_GetAlerts
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetAlertsResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetAlertsResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create Alerts under organization
      operationId: Cover_CreateAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateAlertResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAlertRequest'
        required: true
  /v1/alerts/cost/{id}:
    get:
      summary: Get Specific Alert under organization
      operationId: Cover_GetAlertDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAlertDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: Delete Specific Alert under organization
      operationId: Cover_DeleteAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteAlertResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: Update Specific Alert under organization
      operationId: Cover_UpdateAlertDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateAlertDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Alert ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateAlertDetailsBody'
        required: true
  /v1/alerts/expire/discount:
    post:
      summary: Create discount Expiration Alert
      operationId: Cover_CreateDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateDiscountExpirationAlertRequest'
        required: true
  /v1/alerts/expire/discount/all:read:
    post:
      summary: List all discount Expiration Alert Data
      operationId: Cover_ListDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1DiscountExpiryAlertData'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1DiscountExpiryAlertData
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/alerts/expire/discount/{id}:
    get:
      summary: Get discount Expiration Alert Data
      operationId: Cover_GetDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DiscountExpiryAlertData'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: Delete selected discount Expiration Alert Data
      operationId: Cover_DeleteDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: Update discount Expiration Alert
      operationId: Cover_UpdateDiscountExpirationAlert
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: required. Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateDiscountExpirationAlertBody'
        required: true
  /v1/allocations:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get all available allocation items for the specified cost…'
      operationId: Cover_GetCostGroupAllocation
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AllocationItem'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AllocationItem
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCostGroupAllocationRequest'
        description: Request message for the GetCostGroupAllocation rpc.
        required: true
  /v1/allocators:
    get:
      summary: 'WORK-IN-PROGRESS: Lists all the allocators'
      operationId: Cover_ListAllocators
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1CostAllocatorDetails'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1CostAllocatorDetails
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: 'WORK-IN-PROGRESS: Creates cost allocator item'
      operationId: Cover_CreateAllocator
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CostAllocatorDetails'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAllocatorRequest'
        description: Request message for the CreateAllocator rpc.
        required: true
  /v1/allocators/attribute:
    get:
      summary: Get all available attributes for the charges
      operationId: Cover_GetAllocationAttributes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAllocationAttributesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: category
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/allocators/source:
    get:
      summary: Get all values of the allocation source
      operationId: Cover_GetAllocationSources
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAllocationSourcesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: accountId
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/allocators/{id}:
    delete:
      summary: 'WORK-IN-PROGRESS: Deletes a cost allocator'
      operationId: Cover_DeleteAllocator
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. The id of the allocator to delete.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Updates a cost allocator item'
      operationId: Cover_UpdateAllocator
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CostAllocatorDetails'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateAllocatorBody'
        required: true
  /v1/anomaly:
    post:
      summary: Get the data of a cost group containing anomaly values
      operationId: Cover_GetAnomalyinCostGroup
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1AnomalyData'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1AnomalyData
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetAnomalyinCostGroupRequest'
        required: true
  /v1/apiaccess/verify:
    get:
      operationId: Cover_VerifyAPIAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1VerifyAPIAccessResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        description: 'Required: gcp'
        in: query
        required: false
        schema:
          type: string
      - name: target
        description: 'Required: projectId'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
      summary: Cover verify API access
      x-summary-source: derived
  /v1/assets/summary/{costGroupId}:
    get:
      summary: 'WORK-IN-PROGRESS: Assets summary for costgroup'
      operationId: Cover_GetAssetsSummary
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAssetsSummaryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      - name: startMonth
        description: 'Optional. If not set, current month will be used. Format: `yyyymm`.'
        in: query
        required: false
        schema:
          type: string
      - name: endMonth
        description: 'Optional. If not set, current month will be used. Format: `yyyymm`.'
        in: query
        required: false
        schema:
          type: string
      - name: combineDates
        description: Optional. If true, return the assets summary for the requested period. Else, summary per month is returned.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - Cover
  /v1/assets:read:
    post:
      summary: 'WORK-IN-PROGRESS: Lists assets for costgroup'
      operationId: Cover_ListAssets
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/blueapiCoverV1Resource'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of blueapiCoverV1Resource
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListAssetsRequest'
        description: Request message for the Asset.ListResources rpc.
        required: true
  /v1/attributes:
    post:
      summary: 'WORK-IN-PROGRESS: Get Cost Group by Attribute Type'
      operationId: Cover_GetCostGroupAttribute
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCostGroupAttributeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCostGroupAttributeRequest'
        required: true
  /v1/aws/acctaccess:
    get:
      summary: Gets a CloudFormation launch URL for enabling the account access
      operationId: Cover_GetAccountAccessTemplateUrl
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAccountAccessTemplateUrlResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: type
        description: All templates are publicly available from the reponse link (`templateUrl`) if you want to audit the included permissions.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
    post:
      summary: Starts validation of the account access stack deployment.
      operationId: Cover_CreateAccountAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AccountAccess'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAccountAccessRequest'
        description: Request message for the CreateAccountAccess rpc.
        required: true
  /v1/aws/acctaccess/cur:
    post:
      summary: Starts validation of the account access cur stack deployment.
      operationId: Cover_CreateAccountAccessCur
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AccountAccess'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAccountAccessRequest'
        description: Request message for the CreateAccountAccess rpc.
        required: true
  /v1/aws/acctaccess/stackset:
    post:
      summary: Starts validation of the account access stackset deployment.
      operationId: Cover_CreateAccountAccessStackset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AccountAccess'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAccountAccessStacksetRequest'
        description: Request message for the CreateAccountAccessStackset rpc.
        required: true
  /v1/aws/acctaccess/{target}:
    put:
      summary: Starts an update to an existing account access CloudFormation stack for…
      operationId: Cover_UpdateAccountAccess
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/protosOperation'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Required. The target AWS account to update.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
  /v1/azure/credentials/mpn:
    post:
      summary: 'WORK-IN-PROGRESS: Adding MpnSetting for Azure'
      operationId: Cover_AddMpnSetting
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddMpnSettingRequest'
        required: true
  /v1/azure/credentials/partnercenter:
    post:
      summary: 'WORK-IN-PROGRESS: PartnerCenterCredentials for Azure'
      operationId: Cover_AddPartnerCenterCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddPartnerCenterCredentialsRequest'
        required: true
  /v1/billing/status:
    get:
      summary: Get the Customer Subscription status from marketplace
      operationId: Cover_GetCustomerSubscriptionStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCustomerSubscriptionStatusResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/billingacct:
    post:
      summary: Add Billing Account ID for GCP
      operationId: Cover_AddBillingAccount
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BillingAccountRequest'
        required: true
  /v1/budget:
    post:
      summary: 'WORK-IN-PROGRESS: Create Budget for specific cost group in an organization'
      operationId: Cover_CreateBudget
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateBudgetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateBudgetRequest'
        required: true
  /v1/budget/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Get specific Budget data for a cost group in an organization'
      operationId: Cover_GetBudget
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetBudgetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: 'WORK-IN-PROGRESS: Delete Budget for specific cost group in an organization'
      operationId: Cover_DeleteBudget
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteBudgetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Update Budget for specific cost group in an organization'
      operationId: Cover_UpdateBudget
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateBudgetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Budget ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateBudgetBody'
        required: true
  /v1/budget:read:
    post:
      summary: 'WORK-IN-PROGRESS: List all Budgets in an organization or Budgets under specific…'
      operationId: Cover_ListBudgets
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListBudgetsResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListBudgetsResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListBudgetsRequest'
        required: true
  /v1/categories:
    get:
      summary: Retrieve the categories to be utilized in the creation of the cost group
      operationId: Cover_GetCategories
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCategoriesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: vendor
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/channels:
    post:
      summary: 'WORK-IN-PROGRESS: Create Channel under organization'
      operationId: Cover_CreateChannel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateChannelResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateChannelRequest'
        required: true
  /v1/channels/{id}:
    get:
      summary: 'WORK-IN-PROGRESS: Get Specific Channel under organization'
      operationId: Cover_GetChannelDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetChannelDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: 'WORK-IN-PROGRESS: Delete Specific Channel under organization'
      operationId: Cover_DeleteChannel
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteChannelResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: 'WORK-IN-PROGRESS: Update Specific Channel under organization'
      operationId: Cover_UpdateChannelDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateChannelDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Channel ID.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateChannelDetailsBody'
        required: true
  /v1/channels:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get Channels under organization'
      operationId: Cover_GetChannels
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetChannelsResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetChannelsResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetChannelsRequest'
        required: true
  /v1/containers/costusage:
    post:
      operationId: Cover_GetContainerCostUsage
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ContainerCostUsageResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ContainerCostUsageRequest'
        required: true
      summary: Cover get container cost usage
      x-summary-source: derived
  /v1/costgroups:
    get:
      summary: Get all the cost groups
      operationId: Cover_GetCostGroups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCostGroupsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create a cost group
      operationId: Cover_CreateCostGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateCostGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCostGroupRequest'
        required: true
  /v1/costgroups/resolve/{costGroupId}:
    get:
      operationId: Cover_ResolveCostGroupCombinations
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResolveCostGroupCombinationsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      summary: Cover resolve cost group combinations
      x-summary-source: derived
  /v1/costgroups/{costGroupId}:
    get:
      summary: Get the details of the cost group
      operationId: Cover_GetCostGroupDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCostGroupDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    delete:
      summary: Deletes a cost group
      operationId: Cover_DeleteCostGroup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteCostGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
  /v1/costgroups/{costGroupId}/anomaly:
    post:
      summary: Sets Cost group's anomaly options
      operationId: Cover_SetCostGroupAnomalyOptions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SetCostGroupAnomalyOptionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverSetCostGroupAnomalyOptionsBody'
        required: true
  /v1/costgroups/{costGroupId}/colortheme:
    put:
      summary: Update cost group's color theme
      operationId: Cover_UpdateCostGroupColorTheme
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupColorThemeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupColorThemeBody'
        required: true
  /v1/costgroups/{costGroupId}/combinations:
    put:
      summary: Update cost group's combinations
      operationId: Cover_UpdateCostGroupCombinations
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupCombinationsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupCombinationsBody'
        required: true
  /v1/costgroups/{costGroupId}/description:
    put:
      summary: Update cost group's description
      operationId: Cover_UpdateCostGroupDescription
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupDescriptionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupDescriptionBody'
        required: true
  /v1/costgroups/{costGroupId}/eventIndicator:
    post:
      summary: Sets Cost group's event indicator
      operationId: Cover_SetCostGroupEventIndicator
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SetCostGroupEventIndicatorResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverSetCostGroupEventIndicatorBody'
        required: true
  /v1/costgroups/{costGroupId}/icon:
    put:
      summary: Update cost group's icon
      operationId: Cover_UpdateCostGroupIcon
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupIconResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupIconBody'
        required: true
  /v1/costgroups/{costGroupId}/image:
    put:
      summary: Update cost group's image
      operationId: Cover_UpdateCostGroupImage
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupImageResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupImageBody'
        required: true
  /v1/costgroups/{costGroupId}/name:
    put:
      summary: Update cost group's name
      operationId: Cover_UpdateCostGroupName
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupNameResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostGroupNameBody'
        required: true
  /v1/costusage:
    post:
      operationId: Cover_GetCostUsageV2
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetCostUsageV2Response'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetCostUsageV2Response
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCostUsageV2Request'
        required: true
      summary: Cover get cost usage V2
      x-summary-source: derived
  /v1/costusage:read:
    post:
      summary: 'WORK-IN-PROGRESS: Get usage and usage-based costs for the specified costgroup'
      operationId: Cover_GetCostUsage
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/blueapiCoverV1CostItem'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of blueapiCoverV1CostItem
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCostUsageRequest'
        required: true
  /v1/demo/populate:
    post:
      summary: 'WORK-IN-PROGRESS: Populate demo data'
      operationId: Cover_PopulateDemoData
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1PopulateDemoDataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1PopulateDemoDataRequest'
        required: true
  /v1/demo/reset:
    post:
      summary: 'WORK-IN-PROGRESS: Reset demo data'
      operationId: Cover_ResetDemoData
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResetDemoDataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResetDemoDataRequest'
        required: true
  /v1/forecasts:
    post:
      operationId: Cover_CreateCostForecast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateCostForecastResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCostForecastRequest'
        required: true
      summary: Cover create cost forecast
      x-summary-source: derived
  /v1/forecasts/data:read:
    post:
      operationId: Cover_GetCostForecastsData
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1GetCostForecastsDataResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1GetCostForecastsDataResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1GetCostForecastsDataRequest'
        required: true
      summary: Cover get cost forecasts data
      x-summary-source: derived
  /v1/forecasts/{id}:
    get:
      operationId: Cover_GetCostForecast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetCostForecastResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      summary: Cover get cost forecast
      x-summary-source: derived
    delete:
      operationId: Cover_DeleteCostForecast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteCostForecastResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      summary: Cover delete cost forecast
      x-summary-source: derived
    put:
      operationId: Cover_UpdateCostForecast
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostForecastResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        description: Required. Forecast Id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateCostForecastBody'
        required: true
      summary: Cover update cost forecast
      x-summary-source: derived
  /v1/forecasts:read:
    post:
      operationId: Cover_ListForecasts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListForecastsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListForecastsRequest'
        required: true
      summary: Cover list forecasts
      x-summary-source: derived
  /v1/marketplace/info:
    post:
      summary: Adding orgId to marketplace customers
      operationId: Cover_AddInfotoMarketplace
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1AddInfotoMarketplaceResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1AddInfotoMarketplaceRequest'
        required: true
  /v1/me:
    get:
      summary: Get the details of the logged-in user
      operationId: Cover_GetUserDetails
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetUserDetailsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/me/apptheme:
    put:
      summary: Modify user's app theme
      operationId: Cover_UpdateUserAppTheme
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserAppThemeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserAppThemeRequest'
        required: true
  /v1/me/attributes:
    put:
      summary: Modify attributes
      operationId: Cover_UpdateUserAttributes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserAttributesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserAttributesRequest'
        required: true
  /v1/me/avatar:
    put:
      summary: Modify user's avatar
      operationId: Cover_UpdateUserAvatar
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserAvatarResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserAvatarRequest'
        required: true
  /v1/me/colortheme:
    put:
      summary: Modify user's color theme
      operationId: Cover_UpdateUserColorTheme
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserColorThemeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserColorThemeRequest'
        required: true
  /v1/me/costgroupcreation:
    put:
      summary: 'WORK-IN-PROGRESS: Set user preference in cost group creation UI'
      operationId: Cover_UpdateCostGroupCreationUI
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCostGroupCreationUIResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateCostGroupCreationUIRequest'
        required: true
  /v1/me/email:
    put:
      summary: Modify user's email
      operationId: Cover_UpdateUserEmail
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserEmailResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserEmailRequest'
        required: true
  /v1/me/icon:
    put:
      summary: Modify user's icon
      operationId: Cover_UpdateUserIcon
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserIconResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserIconRequest'
        required: true
  /v1/me/locale:
    put:
      summary: Modify user's locale
      operationId: Cover_UpdateUserLocale
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserLocaleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserLocaleRequest'
        required: true
  /v1/me/mainview:
    put:
      summary: Modify user's main view
      operationId: Cover_UpdateUserMainView
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserMainViewResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserMainViewRequest'
        required: true
  /v1/me/name:
    put:
      summary: Modify user's name
      operationId: Cover_UpdateUserName
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserNameResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserNameRequest'
        required: true
  /v1/me/password:
    post:
      summary: Reset user's password
      operationId: Cover_ResetUserPassword
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResetUserPasswordResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResetUserPasswordRequest'
        required: true
  /v1/me/roles:
    get:
      summary: Lists the roles and cost groups assigned to the authenticated user
      operationId: Cover_GetMyRoles
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetMyRolesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/me/timezone:
    put:
      summary: Modify user's timezone
      operationId: Cover_UpdateUserTimezone
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserTimezoneResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateUserTimezoneRequest'
        required: true
  /v1/members/activate:
    post:
      summary: Activate the added user
      operationId: Cover_ActivateUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ActivateUserResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ActivateUserRequest'
        required: true
  /v1/members/auth0:
    post:
      summary: 'WORK-IN-PROGRESS: Add or read user from Auth0'
      operationId: Cover_ProcessAuth0User
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ProcessAuth0UserResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ProcessAuth0UserRequest'
        required: true
  /v1/members/aws/subscription:
    post:
      summary: WORK-IN-PROGRESS:Resolve user for aws marketplace subscription integration
      operationId: Cover_ResolveAWSMarketplaceTokenForOnboarding
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResolveAWSMarketplaceTokenForOnboardingResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResolveAWSMarketplaceTokenForOnboardingRequest'
        required: true
  /v1/members/onboard:
    post:
      summary: Onboard an organization with an admin account and default cost group
      operationId: Cover_OnboardOrg
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1OnboardOrgResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1OnboardOrgRequest'
        required: true
  /v1/members/profile:
    post:
      summary: Profiling for new users
      operationId: Cover_CreateProfiling
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateProfilingResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateProfilingRequest'
        required: true
  /v1/members/profile/{email}:
    get:
      summary: Octo getting user profile
      operationId: Cover_GetUserProfile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetUserProfileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: email
        description: required email
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
    put:
      summary: Update user profile
      operationId: Cover_UpdateUserProfile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateUserProfileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: email
        description: required email
        in: path
        required: true
        schema:
          type: string
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverUpdateUserProfileBody'
        required: true
  /v1/members/register:
    post:
      summary: Octo new user registration
      operationId: Cover_RegisterNewUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1RegisterNewUserResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1RegisterNewUserRequest'
        required: true
  /v1/members/resetpassword:
    post:
      summary: Reset member's password
      operationId: Cover_ResetPassword
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ResetPasswordResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ResetPasswordRequest'
        required: true
  /v1/organizations/currency:
    get:
      summary: Get Org's reference of currency exchange rate
      operationId: Cover_GetOrgUpdateCurrency
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrgUpdateCurrencyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: Sets Org's reference of currency exchange rate
      operationId: Cover_SetOrgUpdateCurrency
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SetOrgUpdateCurrencyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SetOrgUpdateCurrencyRequest'
        required: true
  /v1/organizations/rates:
    get:
      summary: Get list of exchange rates for a fixed report
      operationId: Cover_ListExchangeRates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blueapiCoverV1ListExchangeRatesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: startDate
        description: 'Required. Start date Format: "YYYYMMDD"'
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        description: 'Required. End date Format: "YYYYMMDD"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/organizations/transfer/{target}:
    get:
      summary: 'WORK-IN-PROGRESS: Transfer the account from the original organization to…'
      operationId: Cover_TransferOrganization
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1TransferOrganizationResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: target
        description: Required. The target account to be transferred.
        in: path
        required: true
        schema:
          type: string
      - name: region
        description: Required. The region of the target account.
        in: query
        required: false
        schema:
          type: string
      - name: payer
        description: Optional. Alphaus payer account to be used for the transfer.
        in: query
        required: false
        schema:
          type: string
      - name: orgId
        description: Optional. The org id of the payer account.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/recommendation/execute:
    post:
      operationId: Cover_ExecuteRecommendationV3
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ExecuteRecommendationV3Response'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ExecuteRecommendationV3Request'
        required: true
      summary: Cover execute recommendation V3
      x-summary-source: derived
  /v1/recommendations:
    get:
      operationId: Cover_GetRecommendationV3
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRecommendationV3Response'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ids
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - Cover
      summary: Cover get recommendation V3
      x-summary-source: derived
  /v1/recommendations/all:read:
    post:
      summary: Lists recommendations based on specified criteria
      operationId: Cover_ListRecommendationsV2
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/v1ListRecommendationResponse'
                  error:
                    $ref: '#/components/schemas/rpcStatus'
                title: Stream result of v1ListRecommendationResponse
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListRecommendationV2Request'
        required: true
  /v1/recommendations/details/{id}:
    get:
      summary: Retrieves a specific recommendation by its ID. (Version 2)
      operationId: Cover_GetRecommendationV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRecommendationV2Response'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: costGroupId
        in: query
        required: false
        schema:
          type: string
      - name: periodOption
        in: query
        required: false
        schema:
          type: string
      - name: currency
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/recommendations/summaries:
    post:
      operationId: Cover_ListRecommendationsV3
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListRecommendationsV3Response'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListRecommendationsV3Request'
        required: true
      summary: Cover list recommendations V3
      x-summary-source: derived
  /v1/reports/fiscalmonth:
    get:
      summary: Get Org's starting month/ fiscal month
      operationId: Cover_GetOrgFiscalMonth
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetOrgFiscalMonthResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: Sets Org's starting month/ fiscal month
      operationId: Cover_SetOrgFiscalMonth
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SetOrgFiscalMonthResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SetOrgFiscalMonthRequest'
        required: true
  /v1/reports/insight/summary/{costGroupId}:
    get:
      summary: Get data for insights reports summary
      operationId: Cover_GetReportSummary
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetReportSummaryResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: costGroupId
        description: Required. Cost Group Id.
        in: path
        required: true
        schema:
          type: string
      - name: startDate
        description: 'Required. Start date Format: "YYYYMMDD"'
        in: query
        required: false
        schema:
          type: string
      - name: endDate
        description: 'Required. End date Format: "YYYYMMDD"'
        in: query
        required: false
        schema:
          type: string
      - name: reportType
        description: 'Required. Report Type. Valid inputs are: "quarterly", "yearly"'
        in: query
        required: false
        schema:
          type: string
      - name: currency
        description: Optional. If not set, default value is `USD`.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Cover
  /v1/reports/rate/nonperforming:read:
    post:
      operationId: Cover_ListNonperformingRate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListNonperformingRateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListNonperformingRateRequest'
        required: true
      summary: Cover list nonperforming rate
      x-summary-source: derived
  /v1/reports/resources/untagged:read:
    post:
      operationId: Cover_ListUntaggedResources
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListUntaggedResourcesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ListUntaggedResourcesRequest'
        required: true
      summary: Cover list untagged resources
      x-summary-source: derived
  /v1/unitcost:
    get:
      summary: Lists Unit Types
      operationId: Cover_ListUnitTypes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListUnitTypesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
    post:
      summary: Create Unit Type
      operationId: Cover_CreateUnitType
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateUnitTypeResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateUnitTypeRequest'
        required: true
  /v1/unitcost/autosuggest:
    get:
      summary: List Suggested Unit Types
      operationId: Cover_ListSuggestedUnits
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListSuggestedUnitsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
  /v1/unitcost/autosuggest/create:
    post:
      summary: Create Unit from Suggested Units
      operationId: Cover_CreateUnitFromSuggested
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateUnitFromSuggestedResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateUnitFromSuggestedRequest'
        required: true
  /v1/unitcost/autosuggest/merge:
    post:
      summary: Merge Suggested Units
      operationId: Cover_MergeSuggestedUnits
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1MergeSuggestedUnitsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Cover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1MergeSuggestedUnitsRequest'
        required: true
  /v1/unitcost/merge:
    post:
      summary: Merge Existing Unit Types
      operationId: Cover_MergeUnits
      responses:
[...]
